[2017-11-08 12:56] MatteoGabriele opened #1 "share knowledge!"
Since this Google gtag.js project is pretty new and kinda complicated, with not so much documentation yet and very less amount of actual implementation example into real project, whatever you know that you want to share or if you want to contribute with your code: please feel free to do :)

cheers!

[2017-11-22 06:29] itsrishabh commented on #1
Ive noticed it doesn't seem to track events in the same way :(

[2017-11-22 07:42] MatteoGabriele commented on #1
My first concern is the debug mode. I've asked Google via tweet about it but obviously they didn't answer. If I can't debug I can't even start.

[2018-03-13 09:57] MatteoGabriele commented on #1
@jukbot Thanks a lot for sharing your thoughts, to be honest I didn't have time to develop more here due to busy working days and the other packages ( mostly vue-analytics ).

Did u find a way to debug/log all gtag activities in your browser? I'm still looking into that.

The safe point is that even if they give gtag script as main script when you start using Google Analytics lately, analytics.js

[2018-08-08 12:32] Jamiewarb commented on #1
Hey @MatteoGabriele
Is this project going to be continued?

[2018-08-08 12:38] MatteoGabriele commented on #1
Didn't put too much time yet, unfortunately. I'll try to start dealing with it. For now you can use vue-analytics.

Please drop any knowledge or experience/experiments you had with gtag so far. Will help a lot

Cheers

[2018-08-14 15:46] Jamiewarb commented on #1
Sure thing. Thanks mate

[2018-09-27 19:21] MatteoGabriele opened #2 "Load new tag and initialize"
needs to implement the current setup, programmatically.
copy code from vue-analytics

[code]

[2018-09-27 19:23] MatteoGabriele opened #3 "Debugging"
how to enable debugging in gtag?

[2018-10-01 20:02] MatteoGabriele commented on #3
I've downloaded the "GTM Debug" extension from Chrome.

[2018-10-01 20:02] #3 closed

[2018-10-01 20:03] MatteoGabriele commented on #2
see https://github.com/MatteoGabriele/vue-gtag/commit/c6a7b3ac91d800fccc41f33164bb4f812d246964

[2018-10-01 20:03] #2 closed

[2018-10-01 20:04] MatteoGabriele commented on #1
I'm closing this issue. I have enough knowledge to start coding the new plugin :)

[2018-10-01 20:04] #1 closed

[2019-05-17 11:32] Jamiewarb commented on #1
Hey @MatteoGabriele

How's this going? Is progress still happening? :)

[2019-11-14 17:00] HMilbradt opened #4 "V 1.0 Release Date?"
Hey Matteo,

The company I work for is using vue-analytics and loving it, but we're wanting to migrate over to gtag for some of the newer features.

Do you have a status update on this library?  We'd love to hear about any plans for the release of this project, or about any of the roadblocks that are still holding it back.

Thanks

[2019-11-14 17:26] MatteoGabriele commented on #4
Thanks for the feedback, unfortunately I'm struggling finding the time, but I'm working on it ( finding the time ). I'll have a look at the API again and see what's what.

[2019-11-18 19:41] HMilbradt commented on #4
Thanks for your reply, I really appreciate it.  We'll likely continue using `vue-analytics` since there's no gtag library that's ready yet, but definitely update us if you're thinking you'll be able to complete it or not 🙏

[2019-11-18 19:54] MatteoGabriele commented on #4
For sure! Luckily they didn't kill the analytics script yet so I have some time

[2019-11-20 11:06] MatteoGabriele commented on #4
as you can see I started doing something 👍
https://github.com/MatteoGabriele/vue-gtag/tree/develop/src

[2019-11-20 21:54] MatteoGabriele commented on #4
@HMilbradt no release 1 maybe, but I have just release version 0.1.0 which is basically a safe version 1
didn't make any tests yet, nor finished documentation or add all features vue-analytics might have.

let me know if you tried

[2019-11-20 22:14] MatteoGabriele opened #5 "Add unit tests"

[2019-11-20 22:15] MatteoGabriele opened #6 "make config an array for multiple domains"

[2019-11-20 22:15] MatteoGabriele opened #7 "Add semantic release"

[2019-11-20 22:16] MatteoGabriele opened #8 "Write documentation"

[2019-11-20 22:17] MatteoGabriele commented on #4
this is what I need to do to go to v1 https://github.com/MatteoGabriele/vue-gtag/milestone/1
I hope I'll have time soon

[2019-11-20 22:21] MatteoGabriele opened #9 "handle querystring on page tracking"

[2019-11-21 12:31] MatteoGabriele commented on #1
@Jamiewarb a first pre-release has been published yesterday. check the milestone to see what's missing.
I'd love some feedback too

[2019-11-22 09:47] MatteoGabriele opened #10 "Don't load gtag.js is already downloaded"

[2019-11-22 19:09] HMilbradt commented on #4
This is great, thank you so much for starting this 🙏.  I'll try to take a look at it this weekend to give some feedback on it.

[2019-11-22 20:29] MatteoGabriele commented on #4
Perfect! Looking forward to it. I started doing some unit testing in the meantime

[2019-11-27 07:05] daahyte6e opened #13 "send Timing after route changed"
### Description

Can i send timings after set pageview (route change)

### Expected behavior

Sending timings after set pageview(route change) from configs

### Actual behavior

doesn't sending timing info when routing changed

[2019-11-27 19:42] MatteoGabriele commented on #13
I could add a hook for that, I'll put it as a feature request and play with it a bit

thanks for the feedback

[2019-12-01 21:38] #5 closed

[2019-12-02 20:25] mikefaraponov opened #15 "Setup multiple GA_MEASUREMENT_ID for plugin"

[2019-12-02 20:30] MatteoGabriele commented on #15
thanks for your feedback but this is a duplicate of #6

[2019-12-02 20:30] #15 closed

[2019-12-02 20:36] MatteoGabriele commented on #5
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-05 19:53] #10 closed

[2019-12-08 12:29] #6 closed

[2019-12-09 12:22] MatteoGabriele commented on #7
travis has been implemented already

[2019-12-09 20:02] MatteoGabriele commented on #8
done!

[2019-12-09 20:02] #8 closed

[2019-12-09 20:17] #7 closed

[2019-12-09 21:25] MatteoGabriele commented on #4
well version 1 is out in the wild!
let me know :)

[2019-12-09 21:25] #4 closed

[2019-12-10 18:53] #13 closed

[2019-12-10 18:54] MatteoGabriele commented on #13
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-13 16:06] platinumjesus opened #25 "Disable config request / inquiry."
Hello @MatteoGabriele,

### Description
Maybe I missed this in the documentation, but is there a way to disable the plugin on development?

### Expected behavior
I would like to pass to the config something like:
`
id: "XXXXX",
        params: {
            disable: true, // Set on ENV switch, for example.
            send_page_view: true
        }
`

This way I could just use the calls to this.$g

[2019-12-13 16:08] platinumjesus commented on #25
As I said, I just needed to find it 🗡 🤦‍♂  - https://matteo-gabriele.gitbook.io/vue-gtag/opt-in-out

[2019-12-13 16:08] #25 closed

[2019-12-13 22:29] rnicholus opened #26 "Docs site does not load"
On https://matteo-gabriele.gitbook.io/vue-gtag/ -

[2019-12-13 22:53] MatteoGabriele commented on #26
Are you sure? Works for me even on a private window

[2019-12-13 23:01] MatteoGabriele commented on #26
Also I don't really host the docs, it's gitbook.io. maybe a momentaneous problem or some connectivity issues. I'll close it.

Thanks anyway

[2019-12-13 23:01] #26 closed

[2019-12-14 00:07] #9 closed

[2019-12-30 11:59] MatteoGabriele opened #43 "Create build process for multiple outputs"

[2019-12-30 12:04] surfgreendev opened #44 "How to opt out after opt in"
Hi!

at first, thanks for your work on this plugin.

I've implemented vue-gtag with the boostraping strategy. GDPR also requires that users can opt out afterwords. So far I've implemented and optOut method to disable tracking, but can still see page tracking via GTM/GA Debug Chrome Plugin.

Is this the correct way to go for?

[code]

Furthermore, is there a way where I can get the current configur

[2019-12-30 14:44] MatteoGabriele commented on #44
hi @surfgreendev thanks for everything
to opt out you just need to call `this.$gtag.optOut()` no additional code is required
The bootstrap it's literally only when you start the plugin, especially if you want to enable after a cookie banner, but when you have that already sort it out, you just call the opt out method and that's it.

hope it fixes it

in case is doesn't, please provide a small repr

[2019-12-30 14:44] #44 closed

[2019-12-30 21:36] rnicholus opened #45 "TypeScript type definitions"
Thanks so much for creating this library, and its predecessor vue-analytics.

Do you have any plans to provide type definitions for vue-gtag? If not, and you're looking for someone to contribute this, would you prefer it to be maintained on DefinitelyTyped, or in this repo?

[2019-12-30 22:18] MatteoGabriele commented on #45
I'm not sure. I've never worked with typescript tbh and on vue-analytics a contributor started working on it but I can't really judge the work has been done cause yeah...not a ts user
is it normally hosted on DefinitelyTyped?

thanks a lot

[2019-12-30 22:34] rnicholus commented on #45
It is preferable to host the definitions in the actual project. DefinitelyTyped is where these definitions are generally hosted if the target project cannot or will not host these definitions internally. I see your other project has a d.ts file, which indicates the type definitions are part of the project. Perhaps that is the best choice for vue-gtag.

[2020-01-03 08:27] MatteoGabriele commented on #45
then yes, I think I'll have it in the repository.
I will try to work at it, checking also the work done in vue-analytics

thanks for your feedback

[2020-01-03 13:44] rnicholus commented on #45
If you're already going to take this on, I'm happy to review the types, if you'd like. I'm already building a limited set of type defs for a project i've pulled vue-gtag into (just covering the areas of the library i'm using).

[2020-01-03 13:46] MatteoGabriele commented on #45
oh great! feel free to even make a PR if you feel like to.
thanks a lot
I'm currently moving apartments so gonna do a bit of Ikea and a bit of Open Source when i can ahahhahaha

cheers!

[2020-01-07 08:20] romansp commented on #45
Hey, I'm late to the party. If only vue-gtag was written in typescript itself 💭 :eyes:. Anyway, I will be happy to contribute or review types as well.

[2020-01-07 08:45] MatteoGabriele commented on #45
Ahahhahaha I never tried to use typescript, maybe one of these days I'll check it out, but you're definitely very welcome to contribute

Thanks as always

[2020-01-08 22:40] MatteoGabriele opened #48 "Preconnect should only have the domain as href value"
see https://github.com/MatteoGabriele/vue-analytics/issues/208

[2020-01-09 04:16] HMilbradt commented on #4
Thank you!  We will be checking this out soon and will definitely have feedback 🙏

[2020-01-09 08:56] #48 closed

[2020-01-09 08:58] MatteoGabriele commented on #48
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-12 11:39] razbakov commented on #3
You can also add [Google Analytics Debugger](https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofjcijamephohjechhna) to documentation about debug. It activateds verbose console output and exceptions from gtag.

[2020-01-12 12:13] MatteoGabriele commented on #3
no, that's for google analytics which will download analytics_debug.js, but gtag.js doesn't have it apparently

[2020-01-12 13:21] razbakov commented on #3
Well it shows debug information in console about gtag triggering. I haven't look deep what exactly it does but it's helpful.

Also there is a [Google Tag Assistant](https://support.google.com/tagassistant/answer/2947093) extension.

[2020-01-13 06:49] andrewharvey opened #50 "api documentation"
I just gave a sad face to "Was this page helpful" at https://matteo-gabriele.gitbook.io/vue-gtag/methods/events and wanted to provide feedback why.

I was expecting this to have the full API documentation for the method, ie. what exact parameters can I pass.

Coming from native gtag the method is `gtag('event', 'action', { 'event_category', category, 'event_label', label, 'value', value })` how to

[2020-01-13 06:57] MatteoGabriele commented on #50
I get it's I'll try to improve the examples, but it's literally your event data left: the library provides the boilerplate so u technically pass only the data.

I will write some more snippets

[2020-01-13 06:58] andrewharvey commented on #50
Yeah I just worked this out a second ago checking the source https://github.com/MatteoGabriele/vue-gtag/blob/master/src/api/event.js. Thanks.

[2020-01-13 06:58] MatteoGabriele commented on #50
You basically only pass this part `'action', { 'event_category', category, 'event_label', label, 'value', value }`

[2020-01-14 23:52] jfanals opened #51 "How to Use functions or/and Promises when initializing VueGtag config.id"
I am looking for a way to initialize VueGtag with the response of an API call.

I have tried setting it with a function/promise as the vue-analytics plugin but it is not working...
https://github.com/MatteoGabriele/vue-analytics/blob/master/docs/installation.md#use-functions-orand-promises

The solution that seems to be working is to initialize the VueGtag after the API response
[code]

I am not s

[2020-01-15 07:26] MatteoGabriele commented on #51
I would try to bootstrap the plug-in like this

https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#bootstrap-later

And make sure to read the section after this one in case u need to pass something from the API call

[2020-01-15 07:26] #51 closed

[2020-01-16 17:20] alex-parra opened #52 "Send event - set category, label, etc"
In the documentation for tracking events there's this code:
[code]
but no information on how to set the event category, label, etc.
With the code above, the event shows in our analytics with category `general`, action `login` and nothing else.
I'm missing something, but haven't figured out what.
Thanks.

[2020-01-16 20:41] jtrobinson1993 commented on #52
This issue seems to address your question:

https://github.com/MatteoGabriele/vue-gtag/issues/50

As far as I can tell, the object in which you pass `method` should also be used to pass other parameters like category and label. The author of the library or someone else can correct me if I'm wrong.

[2020-01-16 20:46] alex-parra commented on #52
🤦🏻‍♂️idiot me...
closing.

[2020-01-16 20:46] #52 closed

[2020-01-16 21:09] DavydeVries opened #53 "How to include/use ecommerce?"
I like to use vue-gtag in combination of the [ecommerce](https://developers.google.com/analytics/devguides/collection/analyticsjs/ecommerce) plugin of google. Any idea how to load/include `ga('require', 'ecommerce');`

Events can still be the same I guess? Example ecommerce event:
[code]

[2020-01-16 21:09] #53 closed

[2020-01-17 09:16] MatteoGabriele commented on #52
yeah I have used the example that was in the google api but maybe I should drop one more example + the link to the API maybe to make things a bit more clear.

sometimes when you write documentation you're kinda writing it with a certain knowledge because you wrote the actual library, so I appreciate feedback so I can make it more generic and understandable for everyone

[2020-01-17 09:19] MatteoGabriele commented on #53
yes in gtag they have changed the library a bit and also the name itself

[2020-01-20 09:40] yooouuri opened #54 "Something happened and gtag.js couldn't be loaded"
### Description

"gtag.js couldn't be loaded"

![image](https://user-images.githubusercontent.com/12934957/72715705-426cef00-3b71-11ea-800c-694e243b270b.png)

### Expected behavior

Is should load the gtag.js library.

### Actual behavior

"gtag.js couldn't be loaded"

### Environment

Using vue-gtag version 1.1.2.

1. Operating system: Mac OS 10.15.2 (19C57)
2. Browser and version: Google Chrome

[2020-01-20 09:44] MatteoGabriele commented on #54
you are most likely using a browser with ad blockers or an extension to block ads.

[2020-01-20 09:44] #54 closed

[2020-01-20 09:44] yooouuri commented on #54
![image](https://user-images.githubusercontent.com/12934957/72716034-d76fe800-3b71-11ea-87e3-c6ef286bc870.png)

Do not have any adblockers...

[2020-01-20 09:46] yooouuri commented on #54
@MatteoGabriele private window (Chrome and Safari) same error...

I am using a https://tagmanager.google.com/ account, is it possible to use it?

[2020-01-20 09:47] MatteoGabriele commented on #54
now that I see your http request, I think you are passing the wrong ID. you use Google Analytics, Google Ads, and Google Marketing Platform.

[2020-01-20 09:50] yooouuri commented on #54
Ah I need to use the https://tagmanager.google.com/ account.

Thanks for helping and sorry for you time.

[2020-01-20 09:51] MatteoGabriele commented on #54
@yooouuri no worries! cheers

[2020-01-20 13:09] fadeev opened #55 "Tracking page views (dl, dh and dp query parameters)"
### Description

Hi! Thanks for `vue-analytics` and `vue-gtag`! I've noticed an unexpected behaviour when trying out `vue-gtag`.

### Expected behavior

Say we have two URLs: `example.org/about` and `example.org/contacts`. When I go from `/about` to `/contacts`, I expect `collect` request to have `dl=example.org/contact` or `dh=example.org&dp=/contact`.

### Actual behavior

What I see is `dl=exam

[2020-01-20 13:47] MatteoGabriele commented on #55
@fadeev the documentation says that "page_location" is "The page's URL" and for me that's not the host but the entire URL.
not sure why it doesn't get the new one but the previous one, but it could be something with codesendbox maybe or some ssh issue if that's ssh based, I had this long issue on Nuxt with vue-analytics because the meta were not rendered yet and was registering the previous one

[2020-01-20 14:17] fadeev commented on #55
Well, running the demo locally produces the same result, so it's not because of codesandbox.

<img width="1098" alt="Screenshot 2020-01-20 at 19 00 55" src="https://user-images.githubusercontent.com/332151/72732373-605d4280-3bb7-11ea-8092-1da4d8e0fa55.png">

I was wrong in the comment above. The line should read: `page_location: window.location.host + to.path`

Otherwise, `window.location.href` in

[2020-01-20 16:00] altescape opened #56 "Send events from Vuex"
Hi @MatteoGabriele - firstly thank you for a fabulous plugin (also thank you for vue analytics)

This is just a quick query if I may.

Is it possible to send events or exceptions in my case from a Vuex module

I have a Vuex module in a file called auth.js and would like to send an exception to GA if an error happens in there, something along the lines of:

[code]

I can't seem to get to work thoug

[2020-01-20 17:49] altescape commented on #56
A little bit more investigation and this works well for me:

[code]

[2020-01-22 10:01] MatteoGabriele commented on #56
yeah I see, I actually forgot to export all events out. I might do it on this plugin too like vue-analytics

thanks for the feedback

[2020-01-22 17:02] GerryWilko commented on #45
I've created a pull request to add an intial typings file!

[2020-01-23 21:03] MatteoGabriele commented on #45
forgot to add the close message in the commit, will do it manually :)
thanks again everyone for the PR

[2020-01-23 21:03] #45 closed

[2020-01-24 12:51] domisa54 opened #58 "Boostrap later doesn't work"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?
Boostrap later doesnt work

In main.js
import Vue from "./vue";
import store from "./FormStore.js";
import VueRouter from "vue-router";
import VueGtag from "vue-gtag";
Vue.use(VueGtag, {
    config: { id: "UA-xxxxxxxx-y" },
    router,
    bootstrap: fal

[2020-01-24 13:24] MatteoGabriele commented on #58
try to remove the router instance from the plugin options, it needs to go in the third argument of the use method, not inside the options

[2020-01-24 13:26] MatteoGabriele commented on #58
and also I just saw that you are taking the `gtag` instance from the bootstrap method, but it's inside the `then` because that's when the promise is resolved

[2020-01-24 13:26] #58 closed

[2020-01-24 13:28] MatteoGabriele commented on #58
also quick tip, I left the instance there but you don't really need it, make sure that whenever you're using `this.$gtag` will be rendered or used after the bootstrap is completed so you don't have to pass gtag instances around your app

[2020-01-24 16:32] sirwalterious commented on #56
Thanks @altescape  - I came here to ask the same question.  :)

Great plugin @MatteoGabriele!

[2020-01-24 17:45] domisa54 commented on #58
Hi Matteo,

Than you very much for your fast reply and useful advices :-)
I removed the router instance but it was an example taken from your doc in Auto Tracking section.
I also passed the gtag in the 'then' clause but it was also based on your Doc in your Boostrap section

Anyway, now it works and both gtag and this.$gtag are boostrapped in app.vue.
**I have a last pb to fix.**
When I try to fir

[2020-01-24 18:18] tstrumfels opened #59 "Question: Custom Fields"
I had previously used your vue-analytics library, and I saw that you recommended vue-gtag going forward.

We have a custom field for userId in our Google Analytics.  Below was the usage to tell vue-analytics about it.

In this case, looking to accomplish the same thing with vue-gtag - to pass in the userID field from my app into the vue-gtag library.

Thanks!

Vue.use(VueAnalytics, {
  id: "GAID",

[2020-01-25 21:18] domisa54 commented on #58
HI Matteo,
I resolved my last problem by looking more closely to your doc that appears to have been updated since 2 weeks ago. I realized that this.$gtag was an object {} and so I had to call this.$gtag.event() to send an event.
Now all is working perfectly > thank you very much for your great plugin 👍 !
Last question, if possible : do you know how to set up 'beacon' option like mentioned in gtag

[2020-01-27 08:29] MatteoGabriele commented on #58
you can add it in your config object like so

[code]

[2020-01-27 08:33] MatteoGabriele commented on #59
you can achieve it by passing the params object in your configuration
[code]

https://matteo-gabriele.gitbook.io/vue-gtag/#initial-config-parameters

[2020-01-27 08:33] #59 closed

[2020-01-27 13:51] tstrumfels commented on #59
Thanks Matteo! (good work on this, by the way!)

I will give this a go, although was able to achieve a different way as well.

Appreciate the timely response.

From: Matteo Gabriele <notifications@github.com>
Sent: Monday, January 27, 2020 3:33 AM
To: MatteoGabriele/vue-gtag <vue-gtag@noreply.github.com>
Cc: Strumfels, Timothy <Timothy.Strumfels@arcadis.com>; Author <author@noreply.github.com>
Sub

[2020-01-28 07:56] giacomotorricelli opened #61 "Unable to get the clientId for multi site tracking"
I'm trying to implement the cross-domain measurement but I'm not able to access to the clientId

Am I doing something wrong?

[2020-01-28 08:16] MatteoGabriele commented on #61
well that's the analytics.js library, this is the gtag.js one: the newest one.
if you need to use analytics.js I can suggest you to use my other package vue-analytics, but with gtag you can also add your client id my passing it like this, for example

[code]

[2020-01-28 10:28] giacomotorricelli commented on #61
Thanks @MatteoGabriele for you reply.

I was probably watching at the wrong documentation, anyway I also tried with the linker configuration of gtag but it doesn't seems to work.

That's my really simple implementation on the **source** site:

[code]

As written in the documentation the parameters should be added dynamically from the library anyway it doesn't seems to work

MIght be an implementat

[2020-01-28 10:33] MatteoGabriele commented on #61
everything you want to add as a configuration, needs to be inside the `config.params` object. that will be attached to the config call, right now you are just passing a plugin option that doesn't exist.
I should probably try to explain this in the doc a bit more clearly

try something like this

[code]

[2020-01-28 10:50] giacomotorricelli commented on #61
Thanks @MatteoGabriele, I did not understand correctly.
With the _params_ parameter it works as expected.

[2020-01-28 10:50] #61 closed

[2020-01-31 11:13] BernhardSchlegel opened #64 "Google Ads: Conversion event"
### Description

I want to emit an Google Ads conversion event. Google generated the following code:

[code]
How does that translate to

[code]

I already initialized gtag with my global (Google Ads) gtag.

Thanks in advance!

[2020-02-02 03:42] newalphamedia opened #76 "Possible to wait until user consent is checked, and then track view?"
I have a script that runs on mounted() and checks with an axios response that the user has agreed to google analytics. This means that on each page load, an axios call is made which, if returned true (permission from user to use google analytics) we then call:

`launchGoogleAnalytics(){
        Vue.use(VueGtag, {
          config: { id: "my-id" },
          enabled: true
        });
      },`

Wou

[2020-02-03 09:10] MatteoGabriele commented on #76
I would try to use this https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#bootstrap-later
this will bootstrap the plugin when and if the user agrees so it will also track the current page

[2020-02-03 09:10] #76 closed

[2020-02-03 09:13] MatteoGabriele commented on #64
translates to this

[code]

and if you already have gtag enabled you should install the plugin like so

[code]

[2020-02-03 09:13] #64 closed

[2020-02-03 15:26] BernhardSchlegel commented on #64
Thanks, mate! Figured it out yesterday and saw my first conversion today. Confirmed :)

For the ones following, I added a separate, additional gtag config for Google Ads

[code]

[2020-02-05 09:39] #56 closed

[2020-02-05 09:41] MatteoGabriele commented on #56
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-05 22:49] MatteoGabriele commented on #43
see #49

[2020-02-05 22:49] #43 closed

[2020-02-06 21:52] MatteoGabriele commented on #50
added some more clearance on the event structure and some links to the method in the official documentation. hope it helps

will for sure improve more along the way

[2020-02-06 21:52] #50 closed

[2020-02-07 12:22] P4sca1 opened #80 "v1.6.0 broke typescript support in strict mode"
### Description
Trying to build a project that uses vue-gtag fails when type check and typescript strict mode is enabled.

### Expected behavior
Build should work in strict mode.

### Actual behavior
[code]

### Environment
vue-gtag 1.6.0
MacOS Catalina
TypeScript 3.7.5

[2020-02-07 12:56] MatteoGabriele commented on #80
@cesasol or @namoscato could you guys have a look at it? unfortunately I don't use typescript so I have no clue 🤣
@P4sca1 you can also open a PR and fix it you know what's the issue.

thanks a lot!

[2020-02-07 13:44] lisafrancoise commented on #80
In [vue-gtag.d.ts](https://github.com/MatteoGabriele/vue-gtag/blob/master/vue-gtag.d.ts) file, two functions doesn't have a return type and one parameter isn't typed which is causing the issue.

I had the same issue and have just updated this file

line 173
`config(config?: GtagGenericParams): any;`

line 174
`time(timing: Timing): any;`

line 208
`export function setOptions(PluginOptions: PluginO

[2020-02-07 14:10] lisafrancoise opened #81 "Opt-out for multiple domain tracking not working"
### Description

Hello,
I'm trying to combine the use of multiple domain tracking, bootstrap and opt out but it doesn't seems to be working.

### Expected behavior

I would like for my user to be able to opt-in and opt-out simply by clicking on a button to activate it or not.

### Actual behavior

When I'm calling this.$gtag.optOut(), it stops triggering the main id (`UA-XXXXXXXX-1`) but the id sp

[2020-02-07 14:47] MatteoGabriele commented on #81
you don't have to use the `enabled` at all, not even the optIn/optOut
since you are not bootstrapping, the plugin doesn't do anything unless you bootstrap it.
so basically just run the bootstrap function once the user is ok with it and everything should work

let me know

[2020-02-07 15:34] lisafrancoise commented on #81
Hum, I think I didn't explain very well my use case, sorry!
(I will remove the `enabled: false` though)

A user comes to our website. There are two cases:

-  It's an anonymous user, so we opt-in by default, no problem for this case.
He can then log in and that leads us to the second case.

-  It's a logged user so we're checking if the user has accepted analytical cookies (by making a request to

[2020-02-07 22:36] namoscato commented on #80
Yeah, I can take a pass within the next couple of days.

Looking at https://github.com/MatteoGabriele/vue-gtag/pull/63, some of the optional `event()` type properties were incorrectly reverted, so we'll have to fix that as well.

[2020-02-08 17:23] #80 closed

[2020-02-08 17:25] MatteoGabriele commented on #80
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-08 17:30] MatteoGabriele commented on #81
did you try to bootstrap it only when you have the permission?

[2020-02-10 10:45] lisafrancoise commented on #81
That's already what I'm doing but the permission can change during the user navigation.

My issue is this one:

- A user logs to our website. We make an api call to know if they accepted analytical cookies. When we get the response, we bootstrap.
That user goes to the Settings page and decide that they don't want to accept analytical cookies anymore. So they click on a button and when they click,

[2020-02-10 10:49] MatteoGabriele commented on #81
aaaah ok I'm sorry I didn't get the last part. indeed I only applied it on the main config id

[code]

I will fix it asap!

thanks a lot for your feedback

[2020-02-10 10:57] lisafrancoise commented on #81
Thanks for your quick answer! :)

[2020-02-11 21:55] jfanals opened #83 "Checking if gtag has been initialized"
I am using bootstrap to set gtag after receiving the GA tracking id via an API.

There are times where there is no GA tracking id, so the gtag does not get initialized.

I would like to check if gtag has been configured before calling a tracking method (otherwise I get an error).

I have been trying to load the getOptions() method, but haven't been able to make it work.

What would be the best way

[2020-02-11 22:20] benirose opened #84 "Misleading error when using pageTrackerScreenviewEnabled with pageTrackerTemplate"
I was wrestling with this error for a bit:
`To use the screenview, add the appName to the plugin options`
with this configuration:
[code]

After digging into the source code it became apparent, that the top level option of `appView` only gets set in the template if you're not using a custom one, otherwise you need to set `app_view` within your `pageTrackerTemplate` method. Would it make sense to r

[2020-02-11 22:22] benirose commented on #84
If you agree with the idea of more descriptive errors when using a customTemplate, I can submit a PR with that change.

[2020-02-13 12:36] Rocketpilot opened #85 "Use with Gridsome"
This is really a request for a bit of guidance on using vue-gtag with Gridsome. I can just about get something going as far as basic analytics tagging but I'm trying to figure out a conversion event for a specific page and I'm stuck.

I know you can import VueGtag in the main.js and add the ID there too... but the closest I've got in the individual page script is the following, which doesn't quite

[2020-02-13 14:38] MatteoGabriele commented on #85
hi @Rocketpilot
unfortunately I don't know what's Gridsome, so not sure how to help you. what's the issue?

[2020-02-13 19:45] Rocketpilot commented on #85
Sorry, Gridsome is a static-site generator for Vue, like Gatsby for React. https://gridsome.org

It has a particular way of using external scripts: https://gridsome.org/docs/assets-scripts/

And it does have a popular plugin for handing VueAnalytics, the predecessor to vue-gtag: https://gridsome.org/plugins/@gridsome/plugin-google-analytics

I can get vue-gtag up and running globally in the site,

[2020-02-13 22:39] MatteoGabriele commented on #85
But does it work without using gridsome? So I can understand better. Thanks

[2020-02-13 22:45] Rocketpilot commented on #85
To be clear I'm not saying this is a bug with vue-gtag, I just want some guidance on using it with a Vue-based tool that doesn't allow dynamic alteration of the page after rendering.

I can attach the library using the recommended method:

[code]

And as far as I can tell that will include the basic library, but I am struggling with adding conversion events to specific pages, like I simply don't u

[2020-02-13 22:58] MatteoGabriele commented on #85
This snippet tells me nothing to be honest, don't know what's happening and the Vue.use(VueGtag) alone like this won't do anything.
I need u to give me a better context. I'm not accusing you, not even trying to defend my code: I genuinely don't know what's happening in your app.

I not even know how conversions work tbh, so u need to give me more details or create a simple app with vuejs and try t

[2020-02-16 00:44] JMeyer126 opened #86 "anonymize-ip: true, how does it work?"
I am trying to send my requests to GA with 'anonymize_ip: true' but i can´t make it. I tried it within the options object and outside the options, with quotation marks and without...

I checked the Dev-Console networks tab for the 'collect?v...' request and would expected the "aip: 1' parameter in the query string parameters...

What am i doing wrong?

my code:

import Vue from "vue";
import VueGt

[2020-02-16 11:17] MatteoGabriele commented on #86
hi @JMeyer126
where is your `anonymize_ip` property tho?

this should be your setup
[code]

[2020-02-16 11:17] #86 closed

[2020-02-16 12:17] MatteoGabriele commented on #83
right now you can use the `disableScriptLoad` but i am expecting an ID either way because you will need it after to start tracking

[code]

[2020-02-16 13:58] JMeyer126 commented on #86
Hi! this works, thank you! Now in the GA requests is the "aip: 1" parameter.

I didn´t know that there is a params object. Now that i know this, i see it in your documentation, too.
I always tried in in the config layer directly, like:
Vue.use(VueGtag, {
  bootstrap: false,
  config: {
    id: 'UA-1234567-8',
    anonymize_ip: true
  }
}, router)

Thank you for your fast answer!!

[2020-02-16 14:00] MatteoGabriele commented on #86
Thanks for your feedback, I'll try to improve the documentation

[2020-02-16 14:05] JMeyer126 commented on #86
Your step-by-step documention is easy to understand and your package works great due to gdpr.

[2020-02-16 14:08] MatteoGabriele commented on #86
Thanks a lot :)

[2020-02-17 08:51] #55 closed

[2020-02-17 08:51] #81 closed

[2020-02-17 09:00] MatteoGabriele commented on #81
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-17 09:00] MatteoGabriele commented on #55
:tada: This issue has been resolved in version 1.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-21 19:45] jssouders opened #87 "NUXT Module Available?"
I am starting a new NUXT application and have a requirement to add google analytics.  There is currently an analytics-module package in the nuxt-community that utilizes your vue-analytics package, but I have not been able to find one for your new vue-tag package.  Do you know if one exists?

[2020-02-22 18:46] MatteoGabriele commented on #87
I know they have a nuxt plugin for gtag, but it's not a wrapper of vue-gtag, it's a standalone package called @nuxtjs/google-gtag

I'm not sure if I'm going to make a nuxt package wrapper of vue-gtag
I'll let u know

thanks for the feedback

[2020-02-22 18:46] #87 closed

[2020-02-25 10:12] monisnap-julien opened #88 "Not working when using `vue-cli-service build`"
### Description

The plugin is not working when building a vue.js app using `vue-cli-service build`. There is an error displayed in console without much informations saying why it's not loading :

![image](https://user-images.githubusercontent.com/44771598/75237260-57b3e980-57bf-11ea-85f7-d0e308fbc460.png)

### Expected behavior

It should load or at least display why it's not loading.

### Actual

[2020-02-26 03:01] imwillhang opened #89 "user_properties in gtag"
Thanks so much Matteo! gtag is amazing, but I'm being blocked by a big thing:

How do I set user properties for a user, like the `identify` call in Segment, or https://developers.google.com/analytics/devguides/collection/app-web/user-properties for gtag?

In gtag, I can dynamically set user properties as follows:
[code]

How would I do this with `vue-gtag`? I've already looked into `this.$gtag.set

[2020-02-26 06:54] MatteoGabriele commented on #89
Just use the set method
 https://matteo-gabriele.gitbook.io/vue-gtag/methods/set

Thanks

[2020-02-26 06:55] MatteoGabriele commented on #89
Oh sorry, didn't read that last part. That's strange then. I will have a look

[2020-02-28 21:22] derevandal commented on #85
@Rocketpilot @MatteoGabriele

Hi, I'm using Gridsome and I do this to resolve it:

[code]

Using `isClient` we can guarantee to load this library only in client side.

The remaining problem is that the router doesn't know pages' title but I think that this is a Gridsome's problem.

[2020-02-28 21:26] derevandal opened #90 "use gtag inside onReady"
Hi, I need to set gtag adwords' config.
I'm using onReady option with global gtag:

[code]

There's another way?

[2020-02-29 05:46] Rocketpilot commented on #85
Thanks @derevandal that makes sense. For the record and for anyone else wondering about this, I ended up just brute-forcing this by adding a metaInfo:script: innerHTML: block inside each page's script tag. Not ideal from an abstraction point of view but it seems to be bulletproof.

[2020-03-03 15:49] derevandal commented on #85
@Rocketpilot you're welcome :nerd_face:

I always prefer use an integrated solution with Vue.
When we only add the script, it doesn't watch Vue Router. :S

[2020-03-03 19:45] cesasol commented on #87
I have a simple solution for this. I load the script through a plugin with the following code

In `plugins/vue-gtag.client.js`
[code]
And in `plugins/vue-gtag.server.js`
[code]
On `nuxt.config.js`
[code]

And here is a component for controlling the activation of said plugin. This part is optional and depends on your moral and legal concerns.
[code]
And a page for disabling `cookies.vue`
[code]

[2020-03-04 10:16] MatteoGabriele commented on #90
hi @derevandal
can't you just use the normal configuration? not sure what you're trying to achieve

[2020-03-04 10:34] MatteoGabriele commented on #89
I copy-pasted your call and it works for me tbh.

if did this
[code]

if you can make a small reproduction of this bug and give me the link I would have a look.
<img width="744" alt="Screenshot 2020-03-04 at 11 32 44" src="https://user-images.githubusercontent.com/5337152/75870871-eb169b80-5e0b-11ea-983e-485e7c6efcc7.png">

[2020-03-04 10:37] MatteoGabriele commented on #88
I have to be honest, you environment is pretty complex to understand.
what's KaiOS? then the iframe in a web content on firefox os... it's not that clear to me.
if you can replicate this issue in a more simple environment I will have a look, otherwise it's quite impossible to me to understand what to do.

[2020-03-04 10:52] monisnap-julien commented on #88
I actually used a workaround so i can close this issue

[2020-03-04 10:52] #88 closed

[2020-03-04 21:12] derevandal commented on #90
I need to setup analytics and adwords inside gtag.
Analytics ID starts with `UA` and AdWords with `AW`.

Both need config event.

![image](https://user-images.githubusercontent.com/1340508/75923316-91ca5e80-5e43-11ea-843a-c60e2f7955c3.png)

[2020-03-05 11:06] juel95 opened #99 "just test for issue"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`:

Then, specify:

1. Operating syste

[2020-03-05 19:50] MatteoGabriele commented on #99
not sure if this is an error or you just have nothing better to do.

[2020-03-05 19:50] #99 closed

[2020-03-05 19:51] MatteoGabriele commented on #90
do you have to add it once or for all of your calls?

[2020-03-05 19:54] derevandal commented on #90
all times when script started

Em qui, 5 de mar de 2020 16:51, Matteo Gabriele <notifications@github.com>
escreveu:

[2020-03-05 19:59] MatteoGabriele commented on #90
what about this

[code]

https://matteo-gabriele.gitbook.io/vue-gtag/multiple-domain-tracking

[2020-03-07 05:25] Rocketpilot commented on #85
@derevandal if I might trouble you for a little more advice; I've been asked to add a conversion track to a form's "thank-you" page:

[code]

Have you configured that with Vue-Gtag or is it the kind of thing that makes sense as an innerHTML item in the metaInfo?

Thanks again for your advice; I'm trying to do it the "right way" with this new project.

[2020-03-08 16:15] rsalunga29 opened #100 "SPA Auto Tracking not working"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

The auto-tracking of VueRouter pages seems to not be working, I'm currently viewing my `/articles` router but Google Analytics only displays `/` as the current active route. See code on Demo section

### Expected behavior

Google Analytics should track VueRouter's routes for SP

[2020-03-08 17:30] MatteoGabriele commented on #100
As far as I can see from your example, you are defining the `router` constant after initializing Vue Gtag so it's probably reading undefined as a value

[2020-03-08 17:50] rsalunga29 commented on #100
Oof, I didn't noticed this. Let me try and see if it works

[2020-03-08 19:25] #100 closed

[2020-03-11 17:28] derevandal commented on #85
Hi @Rocketpilot XD

I'm using vue-gtag like this:

[code]

[2020-03-11 17:37] derevandal commented on #90
it works!
thanks a lot! <3

[2020-03-11 17:37] #90 closed

[2020-03-24 12:03] baruchiro commented on #85
Hi, do you know why with the @derevandal solution I getting 3 tags?

![image](https://user-images.githubusercontent.com/17686879/77423492-fee46a80-6dd7-11ea-8c30-96b967555f83.png)

I see this when I enter a Post page.

[2020-03-24 23:02] derevandal commented on #85
I don't know, but a can help you resolve this bug.
Could you send me an url for debug?

[2020-03-25 05:02] baruchiro commented on #85
Site: https://bscstudent.netlify.com/
Source: https://github.com/baruchiro/BcsStudent

It's in Hebrew...

Thanks!

[2020-03-26 00:26] derevandal commented on #85
@baruchiro Omg, it's an unknown bug :(
On the website that I made it also has this problem and I didn't even know it.

I think it's something related to Router.

[2020-03-27 12:45] harsha-iiiv opened #102 "Add tracking ID dynamically"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`:

Then, specify:

1. Operating syste

[2020-03-28 09:28] #102 closed

[2020-03-28 09:31] MatteoGabriele commented on #85
I am going to close this issue because is a Gridsome specific issue I believe, please correct me if I'm wrong and provide me enough specifics to make this work

thanks

[2020-03-28 09:31] #85 closed

[2020-03-28 09:31] MatteoGabriele commented on #89
closing for inactivity

[2020-03-28 09:31] #89 closed

[2020-03-30 21:48] eikaramba opened #103 "Support anchor links for pageview tracking"
In the old  GA library when i just had the basic setup with
[code]
(of course the syntax looked a little bit different with the old library)

when i clicked a link `/#test` it was tracked as a pageview. **In the new library it is not tracked anymore.**

Can you enable that or tell me what needs to be done to support this?

Sample Code from the app is:
`<v-btn to="/#test">test</v-btn>`

[2020-04-01 01:11] P4sca1 opened #104 "TypeError: Cannot read property 'apply' of undefined"
Getting the following error: https://sentry.io/share/issue/55b5039da9784a738c0fd71bc244a2e6/
It only occured on FireFox until now.

[2020-04-15 20:13] darkylmnx opened #113 "Disable auto tracking on certain component ? Set page title from vue-meta title ?"
**This is a question / feature request**

I didn't see in the docs if it was possible to disable auto-tracking on specific components.
**Use Case** : Certain pages can have a title from remote data, so `pageView` would be sent after the component is loaded and therefore way after `router.afterEach`.

Also, is there an intergration with **vue-meta** in the pipe as it's the most used plugin for meta

[2020-04-17 06:26] MatteoGabriele commented on #104
is it an SSR application?

[2020-04-17 11:33] P4sca1 commented on #104
Yes

[2020-04-17 11:35] P4sca1 commented on #104
I came around with this problem, by calling `$gtag` functions within a try / catch block, so that they do not interrupt auth flows on error:
[code]
I'm not sure, but I thought gtag might error when using browsers / extensions that block it.

[2020-04-17 19:00] fejj182 commented on #44
Just to note that after you call ```this.$gtag.optOut()``` it will work initially, but if the page is refreshed then analytics will continue to run.

This is because the window property

```window['ga-disable-GA_MEASUREMENT_ID'] = true;```

has to be called at the beginning of every page load. Therefore after you call ```this.$gtag.optOut()``` you should persist this (for example using a cookie in

[2020-04-21 07:56] biapar opened #114 "FYI: it works with latest vue.js + vuerouter"
FYI: it works with latest vue.js + vuerouter

[2020-04-21 14:27] codeofsumit opened #115 "How to enable after user consent?"
Matteo, first of all thanks a lot for this awesome plugin!

I'm building a cookie banner and as [per the documentation](https://matteo-gabriele.gitbook.io/vue-gtag/opt-in-out) I can see how I can load the plugin with `enabled: false`. What is missing from the docs is how to actually enable it again after user consent - including sending the first pageview.

Can you point me into the right directio

[2020-04-21 14:35] codeofsumit commented on #115
I tried to call `bootstrap()` but no pageview is sent when calling it 🤔

[2020-04-21 16:21] biapar commented on #103
I've the same problem.

[2020-04-21 16:22] biapar opened #116 "Why GA catch only real time data and not the other data?"
Why GA catch only real time data and not the other data?
I see only real time and not the other data.

[2020-04-22 19:49] DavidGolodetsky opened #117 "t.onReady is not a function"
#57 # Description

After providing basic example of vue-gtag app falls with error in console
`t.onReady is not a function`

[2020-04-23 07:59] theharshin opened #118 "Error in real-time count."
### Description
<img width="1127" alt="image" src="https://user-images.githubusercontent.com/7118937/80072655-2b6cdd00-8564-11ea-8f88-52eb15e39d86.png">

The real-time count of users is very high when compared to Top Active pages.
I've used this plugin in 2 of my projects and I'm experiencing this in both of them.
I've turned on auto-tracking and provided the router instance.

I don't what might b

[2020-04-27 13:01] kevinhankens opened #119 "Google Analytics not working unsure of how to debug"
### Description

Greetings! I believe that I have everything set up and configured correctly, however I am not seeing any tracking in Google Analytics and I have no idea how to debug this.

When loaded, I see that it renders the following:

[code]

The "Google Tag Assistant" Chrome add-on shows that the gtag.js is successfully loaded, however it does not record any Google Analytics and says "No hi

[2020-04-27 13:52] kevinhankens commented on #119
Ah! It is working now. I'm not sure why, but there seemed to be a lag. Now new traffic is showing up immediately in the real time tracking.

Thanks so much for the hard work on this package!

[2020-04-27 13:52] #119 closed

[2020-04-27 17:23] MatteoGabriele commented on #118
hi @theharshin
thanks for you feedback. what do you think it could be?
do you have an idea?

thanks a lot

[2020-04-28 07:39] DavidGolodetsky commented on #117
Sorry for bothering. I've just included two plugins in one Vue.use() expression.

[2020-04-28 07:39] #117 closed

[2020-04-30 22:05] chrisjenx commented on #118
`pageTrackerScreenviewEnabled` doesn't seem to work correctly. So you only see actual page loads. I was testing this now, as my active pages are whack.

[2020-05-02 15:32] enkota opened #128 "Triggering an event causing Pageview to be sent on child component"
Bit of a unique case here.

I have set the `send_page_view` value to false on the config parameters so I can manually send a custom `page_path` parameter under `this.$gtag.pageview` (need to modify the path to reference the ID instead of slug on GA).

This all works fine, however when I try to send an event, it will appear on the GA real time view as the original url of the page.

Disabling the `t

[2020-05-02 15:48] enkota commented on #128
Update:

If I add another `this.$gtag.pageview` of the post itself **before** the event sends, this seems to fix it:

[code]

Will do some further testing to see if this has fixed it.

[2020-05-06 08:56] hennzen commented on #115
Stumbled across same issue. Looked at the [API source](https://github.com/MatteoGabriele/vue-gtag/tree/master/src/api) and verified it with MatteoGabriele's reply to [How to opt out after opt in](https://github.com/MatteoGabriele/vue-gtag/issues/44)
Simply calling `this.$gtag.optIn()` within my component method just worked.

[2020-05-06 09:38] codeofsumit commented on #115
@hennzen just tried it again. When I call `this.$gtag.optIn();` I don't see any "collect" event sent in my network tab that is normally sent when I navigate/load the page.
These events:
![image](https://user-images.githubusercontent.com/2399810/81162803-0fb6fd00-8f8e-11ea-8fc7-a983dbea9e01.png)

Is there one firing for you when you call `optIn()`?

[2020-05-06 09:45] hennzen commented on #115
For me, the collect request only fires on first event (custom, pageview...) **after** calling `optIn()`
If that still doesn't work, try getting more insight with [Google Analytics Debugger Chrome Extension](https://chrome.google.com/webstore/detail/google-analytics-debugger/jnkmfdileelhofjcijamephohjechhna?hl=en)

[2020-05-06 09:47] codeofsumit commented on #115
@hennzen that's what I mean.

User enters page. No event.
User clicks button -> `optIn()`
**First Event fired**
User navigates page
Subsequent events are fired

The bold marked event is not happening for me.

[2020-05-06 09:50] codeofsumit commented on #115
Just installed the analytics debugger extension.

This is what happens on page load when loading vue-gtag with `enabled: false`.
![image](https://user-images.githubusercontent.com/2399810/81163942-cc5d8e00-8f8f-11ea-9792-d9d9bea6d05f.png)

When I call `this.$gtag.optIn()`, nothing happens. No logs are added.

[2020-05-06 09:58] hennzen commented on #115
Cannot reproduce. I get same output using `{ enabled: false }` on load, i.e. all events are being labeled "User has opted out of tracking. Aborting hit." Then calling `optIn()` (no output on this one - but what about `console.log()`'ing something, so you know it was called). Subsequent events being tracked and shown by the extension as expected.

[2020-05-06 10:01] codeofsumit commented on #115
Well ok then we have the same behaviour.
The problem is that `optIn()` should send the first pageview immediately IMO.

[2020-05-06 10:05] hennzen commented on #115
I would not expect such behaviour.
But you could nevertheless manually/prgrammatically trigger a pageview event after calling `optIn()` to make the current pageview count

[2020-05-06 10:06] codeofsumit commented on #115
Hm ok. Then how do you track referal pages or time spent on a landing page if tracking won't start until the user navigates again? Especially Referal pages seem to be completely useless then - or am I wrong here?

[2020-05-06 11:21] MatteoGabriele commented on #115
sorry for the late response. The optIn method it's just changing a global variable inside the gtag global object: there's no need to fire any events, it's not something that needs to be registered.
after the global variable it's re-enabled again, then you need to do something to start triggering events again: it's a simple on/off switch built-in inside google analytics or google gtag, same pattern

[2020-05-06 12:15] codeofsumit commented on #115
@MatteoGabriele thanks for chiming in and taking the time to explain this. I understand now.
Seems like my expectations are wrong. If this is as designed, it's more like that this is correct and my assumption that e.g. referrals aren't properly tracked is wrong.

Thanks also @hennzen ❤️

[2020-05-06 12:15] #115 closed

[2020-05-06 14:01] MatteoGabriele commented on #115
@codeofsumit you're welcome. sorry you had to wait this long for my response. yeah this is by design from Google, not from me. I can't really predict what you want to do after re-enabling the property so you might need to trigger whatever you need by yourself manually. after that, whatever happens will be picked up again by the library

[2020-05-10 19:41] jenkins6g opened #129 "this.$gtag.event("xyz") doesn't appear to be functioning"
Not sure if this is a bug or if I am not following the documentation correctly.
### Description

  mounted() {
    this.track();
  },
  methods: {
    track() {
      this.$gtag.event("xyz");
    },
  },

I have the code above on the home page of my vue app, I am not seeing events being registered on google analytics when I go to the url.
### Expected behavior

I expect the code above to fire a Go

[2020-05-11 13:33] NickeManarin commented on #129
Did you select the correct date span?

By default, Google Analytics does not display the report with an incomplete day.

[2020-05-11 18:26] jenkins6g commented on #129
@NickeManarin thanks for the update, I saw that the event was being triggered with the GTM/GA Debug chrome extension so was pretty confused. I see the event now on Google Analytics, thanks!

[2020-05-11 18:26] #129 closed

[2020-05-13 13:38] wparad opened #130 "bootstrap() reloads Gtag everytime"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Everytime `bootstrap()` is called gtag is reinjected in the application. This makes unnecessary calls to GA, etc...

### Expected behavior

It should only be injected one time.

### Actual behavior

GTAG script is loaded in the DOM multiple times and multiple page views are exe

[2020-05-13 16:23] wparad commented on #128
You need to make sure that the page_path is configured in gtag before sending an events. What is sent in previous pageviews is largely irrelevant. You can set that by populating the `pageTrackerTemplate`: https://matteo-gabriele.gitbook.io/vue-gtag/auto-tracking#page-tracker-template

[2020-05-15 14:49] ryexley commented on #54
So what was the solution here? Does this lib not work with `GTM-XXXXXXX` accounts? @yooouuri did you have to use something other than `vue-gtag`?

[2020-05-15 16:01] MatteoGabriele commented on #54
@ryexley I don't think that was made to accept GTM ids

[2020-05-15 16:04] ryexley commented on #54
I was actually able to get it to load. My issue, having encountered the same error, was that I had not "published" the tag manager workspace related to the GTM ID that I was using. Once I published it, it started loading fine.

[2020-05-15 16:06] MatteoGabriele commented on #54
ah! good to know :)

[2020-05-16 10:30] enkota commented on #128
Yep thank you! I discovered the reason was that I was setting a custom dimension up before firing the page view which sends an event regardless.

In the end, I decided not to change the slug and send the ID by dimension instead. I used `.set()` to create the dimension then fire the view. Been tracking perfectly ever since :)

[code]

[2020-05-16 10:30] #128 closed

[2020-05-20 14:26] all-i-do-is-wynn2 commented on #54
@ryexley - did you have to make any changes to the code? Our container is published and I am getting this error.
![image](https://user-images.githubusercontent.com/39102249/82457956-b6fe5e80-9a7b-11ea-8180-f396155fedb9.png)

[2020-05-20 15:02] ryexley commented on #54
@all-i-do-is-wynn2 yes and no. We ultimately ended up moving away from using vue-gtag and just went with a custom implementation as we didn't really need the full integration with Vue. I'm sure that doesn't help you much though, sorry.

[2020-05-20 15:04] all-i-do-is-wynn2 commented on #54
@ryexley - thank you for the insight and the quick response!

[2020-05-20 22:27] all-i-do-is-wynn2 commented on #54
@MatteoGabriele - GTM ID does work. As a data analyst, if you have the "Preview" panel open at the bottom of the screen, it will throw the error in the console. Tell others to make sure that they close the Preview panel.

[2020-05-21 05:52] MatteoGabriele commented on #54
Thanks a lot! Your comment here will help other people struggling with this one

[2020-05-25 12:59] bnason opened #132 "Initial page load tracking not calling pageTrackerTemplate"
### Description
Initial page loaded is being tracked incorrectly. `pageTrackerTemplate` is not being called.

### Expected behavior
When loading the site, I'd expect the tracking of the initial page to call `pageTrackerTemplate` to get my custom title value.

### Actual behavior
An event is sent with the actual document title which is not what I want to send. For example, my route.meta.title is se

[2020-06-03 01:26] vincent-lu opened #139 "How to prevent sending hit on init or bootstrap?"
Hi first thanks for the plugin!

I'm trying to send pageview hit on only specific pages with code below:
[code]

And this is the only tracking hit I want to send.

However no matter what I do (opt out initially, not enable initially etc.), whenever I optIn or bootstrap $gtag (so I can run `this.$gtag.pageview()`), it sends its own tracking hit.

This leads to sending tracking hit twice.

The metho

[2020-06-09 14:02] itsukiuehara commented on #132
I am having the same problem. Any solution to this one?

[2020-06-10 05:01] mayank30 opened #141 "How to remove specific routes from AutoTracking ?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
Not able to remove Specific route from Google Auto Tracking.
What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their resu

[2020-06-10 10:30] mstcyj commented on #132
I am having the same problem too. Any solution to this one?

[2020-06-11 18:50] MatteoGabriele commented on #139
what are you tracking twice? the `/invoice-loaded`?

[2020-06-11 19:31] MatteoGabriele commented on #132
I actually found the issue. I was wrongly calling gtag once loaded but this library it's slightly different from analytics and I don't have to initialise trackers or stuff like this so I need to remove that part I thought was needed and add a `trackPage` on `Router.onReady` which will also call the custom template.
the onReady method returns the current route as callback so sounds like a deal

thi

[2020-06-11 19:32] MatteoGabriele commented on #139
I think I found the bug which is also related to another one. I will try to push a fix asap

[2020-06-11 19:34] MatteoGabriele commented on #130
how you end up bootstrapping it more than once?

[2020-06-11 19:36] MatteoGabriele commented on #114
it does :D

[2020-06-11 19:36] #114 closed

[2020-06-11 19:38] MatteoGabriele commented on #104
if you still have this error please let me know and create a reproduction for me to check. for now I will close it

[2020-06-11 19:38] #104 closed

[2020-06-11 19:39] #83 closed

[2020-06-11 19:59] wparad commented on #130
Because the documentation suggests `await bootstrap()` is the way to await for the module to finish loading. And I wanted to simply `await bootstrap()` without having to write this annoying code:
[code]

[2020-06-11 22:05] vincent-lu commented on #139
No, `this.$gtag.optIn();` or `bootstrap()` triggers a different tracking hit. But a tracking hit nonetheless.

My guess is that they trigger a gtag config command without path specificed.

[2020-06-13 11:43] MatteoGabriele commented on #139
yeah on bootstrap a hit is sent by default because I wrongly set it up like analytics. but there's no need to set trackers on gtag

[2020-06-13 12:11] MatteoGabriele commented on #139
possibly fixed by this 😆
https://github.com/MatteoGabriele/vue-gtag/pull/142

[2020-06-13 12:11] #139 closed

[2020-06-13 12:12] MatteoGabriele commented on #132
let me know if the fix worked

see https://github.com/MatteoGabriele/vue-gtag/pull/142

[2020-06-13 12:12] #132 closed

[2020-06-13 12:58] MatteoGabriele commented on #132
@bnason please a feedback would be super helpful to understand if this worked

[2020-06-16 07:50] toritroniks opened #143 "GoogleAnalytics not being added"
### Description

I followed the documentation to add a new Analytics account to my vue application.
But events are not being sent to Analytics.

When I use the "Tag Assistant" plugin, it says that the gtag.js is set, but the analytics is not added.
I checked the devTools, and I couldn't find the analytics library being added.
[code]

My setup is on the `main.js` file:
[code]

If I manually add thi

[2020-06-16 09:39] Mushr0000m commented on #64
Where did you set the code for the `event_callback` `callback` value ? Because Adwords give me this :
[code]

[2020-06-16 09:55] MatteoGabriele commented on #143
gtag.js is the only library loaded here, but would analytcs.js be loaded as well? they are 2 separate libraries

[2020-06-16 10:22] sCarita commented on #143
I am having the same issue at the moment, I am not quite sure if it is because of my inexperience with GA and GTAG. But using the <head> snippet, all seems to be working, when I try to set it up following the 'getting started' reference guide from the documentation and I am not able to make it work.

Maybe I am getting something wrong here.

[2020-06-16 10:23] sCarita commented on #143
I am also running to the same issue. So we are supposed to add google snippet to our head correct?

[2020-06-16 10:25] MatteoGabriele commented on #143
you are not supposed to add any snippets. vue-gtag loads gtag.js and no other libraries. why would you use analytics and gtag at the same time?

[2020-06-16 11:11] toritroniks commented on #143
Sorry if I am misunderstanding the plugin.
I am new to this. Please tell me where is my mistake.

1. I created an Analytics account and got a TrackingID (UA-1234567-8)
2. I installed the plugin and configured the TrackingID
3. I run my app in localhost and expected to see some user activity on the Analytics console, but there was none.
4. I tried to send custom events with `this.$gtag`, but nothin

[2020-06-16 11:42] sCarita commented on #143
I think you cannot use the GA TrackID directly without adding it to your GTM. I am still looking further into it, I will comment if I make it work :)

[2020-06-16 12:33] pavlovskyarto commented on #143
Got the same issue. When I trying to add vue-analytics Tag Assistant says that there are few gtag instances. But if I use only vue-gtag it recommends adding google analytics.

[2020-06-16 12:38] mattias-persson opened #144 "1.6.3 seems to stop reporting data"
### Description

Upgrading from 1.6.2 to 1.6.3 completely stopped the reporting of data.

### Expected behavior

Data should be reported as before.

### Actual behavior

The analytics dashboard reports 0 active people and 0 events in real time.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`:

Then, specify:

1. Operating system: MacOS 10.15.5

[2020-06-16 12:42] MatteoGabriele commented on #144
I think that I know why. there was this complain of an extra hit on load all the time so I removed it from the bootstrap, but then I saw that the library method `$gatg.pageview` is using gtag `page_view` event which doesn't send the ID on hit.
I will look into it asap

thanks for the feedback

[2020-06-16 12:44] MatteoGabriele commented on #144
I have to admit: gtag.js documentation is still quite mysterious sometimes. they could have done a better job. especially for SPA

[2020-06-16 12:48] MatteoGabriele commented on #143
just saying it out there, but it could be related to this issue. I will have a look later

https://github.com/MatteoGabriele/vue-gtag/issues/144

[2020-06-16 20:55] #143 closed

[2020-06-16 20:55] #144 closed

[2020-06-16 20:59] MatteoGabriele commented on #144
:tada: This issue has been resolved in version 1.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 20:59] MatteoGabriele commented on #143
:tada: This issue has been resolved in version 1.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-18 07:38] codeofsumit opened #147 "Best practices implementation"
Hi Matteo, have you seen this article?

https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/

It’s fantastic and I’m currently thinking about doing a raw implementation of gtag/analytics to follow these examples.
But maybe they are also great to extend your module 🤔.
What’s your take on that?

Thanks for your work!

[2020-06-18 19:05] MatteoGabriele commented on #147
Unfortunately this is just for analytics. the article is quite old too and gtag is quite new. Gtag is a different library and would be nice if they tell people how to get the best out of it

[2020-06-18 19:06] MatteoGabriele commented on #147
But thanks a lot for sharing, definitely nice to read and maybe could get something out of it

[2020-06-18 19:08] codeofsumit commented on #147
woah you're right. I haven't even seen that it's 3 years old already 🤦  - sorry about that!

[2020-06-18 19:08] #147 closed

[2020-06-18 19:29] Nenino2 opened #150 "IP anonymization"
Due to EU law, IP anonymization is required.

How can you set IP anonymization on vue-gtag library?

https://developers.google.com/analytics/devguides/collection/gtagjs/ip-anonymization

[2020-06-21 18:48] m1stermanager commented on #132
@MatteoGabriele I've had a week off at work and I'll be checking this out monday in the AM.... I'll let you know how it goes! thanks for the effort on this and the quick turnaround.

[2020-06-22 20:34] AlejandroMut commented on #87
@cesasol on vue-gtag.server.js you might want to push those objects into the app.head.link array. Otherwise you will overwrite all other head settings.

[2020-06-23 17:24] m1stermanager commented on #132
alright, a co-worker has the upgrade in progress, will report back shortly!

[2020-06-23 17:28] MatteoGabriele commented on #132
Thanks a lot

[2020-06-25 08:48] yonego-delano commented on #150
With the removal of all config params the past 3 releases, we also need a solution to pass our additional config. I can't find any solutions within the documentation, perhaps this is an oversight?

Besides `anonymize_ip` we also like to pass `send_page_view`, `custom_map` for setting custom dimensions and `optimize_id` to name a few.

Would love to hear what I should do to restore this with the la

[2020-06-25 09:33] yonego-delano commented on #150
@MatteoGabriele Awesome, thanks for the quick support! I will patiently wait for a solution, and fix our version to 1.6.2 in the meanwhile.

[2020-06-25 12:03] dneeleman commented on #150
FYI: Removed the other Github account. I'm the Ghost above 😜

[2020-06-29 01:01] m1stermanager commented on #132
unrelated issues kept us from making this change, i'll see if I can get it in first thing in the morning. thanks again for the project, documentation, and responsiveness

[2020-07-01 09:41] DanFaudemer opened #160 "Handle router base path"
Hello,

Thank you for your library :). It seems that it does not handle the `base` path from the vue router for page views:

[code]
This happens when the public path is not `/`.

Is it the expected behavior as it can be managed by custom template?

[2020-07-08 06:26] dneeleman commented on #150
Hi! Just checking in wondering what the status of this bug is. Thanks again!

[2020-07-10 07:21] tberk opened #163 "send_page_view = false still sends pageviews"
**Description**
send_page_view is set to false but it still sends pageviews to analytics. Setting it to true or false does not matter, always sends pageview.

[code]

**Expected behavior**
Should not send pageview.

**Actual behavior**
Sends pageview.

**Environment**
- vue-gtag@1.7.0
- Operating system: Win/Lin
- Browser and version: Chrome 83

[2020-07-14 05:28] damirbogd commented on #118
having the same issue as **chrisjenx**

it's seems that real count number is incorrect, however looks like Audience Overview data is correct.

my main.js

[code]

[2020-07-14 09:15] MatteoGabriele commented on #116
not sure what you mean. I just use the api to send data, can't really control this type of things

[2020-07-14 09:17] #150 closed

[2020-07-14 09:17] #163 closed

[2020-07-14 09:20] MatteoGabriele commented on #160
I will look into it, thanks for your feedback :)

[2020-07-14 09:21] MatteoGabriele commented on #163
:tada: This issue has been resolved in version 1.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-14 09:21] MatteoGabriele commented on #150
:tada: This issue has been resolved in version 1.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-14 09:22] MatteoGabriele commented on #118
not really sure how to help here. technically if your data locally is sent correctly, the job of the plugin is done: I just automate parts that usually we repeat all the time for all projects, but I just use the library api, so once that fired event is correct, then I don't really know what to do more.
could you look if that's correct?

[2020-07-14 09:23] MatteoGabriele commented on #130
well of course every time bootstrap is called the library is loaded. why are you calling bootstrap more than once?

[2020-07-14 09:25] MatteoGabriele commented on #130
`await bootstrap` is not the way to check if the module is loaded: that's how you load the module if you don't want to bootstrap it at the beginning.
`onReady` is the way to check if the module is ready: it's a bit different.

[2020-07-14 09:26] MatteoGabriele commented on #130
https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#bootstrap-later

[2020-07-14 09:26] #130 closed

[2020-07-14 09:32] MatteoGabriele commented on #113
I will probably implement a way to skip a route, but can't skip a component.
this issue is already opened here #141

for vue-meta, I am not sure how to help. I remember when working on vue-analytics that waiting for the nextTick was enough to get the title from the new rendered page. I still wait for the nextTick here too, so not sure why doesn't work.

[2020-07-14 09:35] MatteoGabriele commented on #84
the error is correct, the thing is that by having a custom template like this you are making the error yourself by not passing the app_name.
this is how I create the template

[code]
so when you create the custom one, u are taking care of everything basically

sorry for the huge delay of the response 🙏

[2020-07-14 09:35] #84 closed

[2020-07-14 10:04] MatteoGabriele commented on #116
btw there's already another discussion going on with the same topic. see #118

[2020-07-14 10:04] #116 closed

[2020-07-14 10:05] #113 closed

[2020-07-14 10:44] MatteoGabriele commented on #103
yeah the issue is that path is always `/` in your case, because the hash is added to another property called `hash`.
in the other library I used a option to skip same paths, so maybe that would work in this case.
I will add it either way because it could be useful in other scenarios as well

[2020-07-14 10:46] #103 closed

[2020-07-14 10:49] MatteoGabriele commented on #103
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-14 10:52] MatteoGabriele commented on #103
you can add `pageTrackerSkipSamePath: false` to the plugin options and should work.
let me know if works for you

[2020-07-14 12:14] eikaramba commented on #103
great! yes it works. thank you

[2020-07-14 15:45] chrisjenx commented on #118
@MatteoGabriele it looks like it doesn't change the page name from the initial load (navigating in html5 mode).
This may be something gtag does to try and reduce replicated links - but the first page you load into vue is the only page url that is ever recorded.
I checked API calls, looks like router page loads never fire api requests for me...

[2020-07-14 16:48] MatteoGabriele commented on #118
Did u try with my last update? If still the same, could you please make a small repo with the issue "visible" so that I can have a better understanding of it? Thanks a lot

[2020-07-17 12:32] dneeleman opened #165 "Main config parameters are applied to all Multiple domain tracking entries"
### Description

When configuring Multiple domain tracking, all parameters given to the main config are applied to the other `includes` as well. Even with overriding the params in the config for the other domain(s).

### Expected behavior

I believe the params should only be applied to the given domains.

### Actual behavior

When configuring Multiple domain tracking, all parameters given to the m

[2020-07-17 17:47] mcat56 opened #166 "$gtag undefined typescript"
In main.js :

[code]

In component:

[code]

When I run test suite where only my previous tests that were all passing are running (no tests directly calling vue-gtag, the following error occurs:

[code]

[2020-07-17 20:18] #166 closed

[2020-07-17 20:19] mcat56 commented on #166
Resolved - in jest-setup.js:

[code]

[2020-07-19 12:07] manniL opened #167 "[Feature Request] custom gtag.js url"
Hey all 👋🏻

The predecessor plugin, `vue-analytics` had the feature to provide a [custom analytics URL](https://matteogabriele.gitbooks.io/vue-analytics/docs/custom-analytics.html). With `vue-gtag`, this doesn't seem possible at the moment.

Would you accept a PR implementing such a feature?

[2020-07-19 12:09] MatteoGabriele commented on #167
Sure thing :)

[2020-07-22 01:36] cliqer opened #168 "Vue 3 support?"
Hi and thank you for this plugin.
While trying to add analytics on vite and vue 3 being in RC3 I was wondering if you have any plans on supporting these.
Right now I'm getting:
[code]
Many Thanks

[2020-07-22 07:07] MatteoGabriele commented on #168
Hi @gianniskarmas
to be honest I never tried Vite, so not sure why would need a special treatment and why throws the error, but for sure I will make sure to be ready for Vue 3. the framework it's in RC so there's time + I doubt people will start migrating applications from day 1 :)

[2020-07-22 07:10] MatteoGabriele commented on #168
ok so I read that vite is a vue 3 app only so once gtag is updated, should all be good
thanks

[2020-07-24 12:45] cjblomqvist commented on #168
As a suggestion @MatteoGabriele , keep this issue open until it works works with Vue 3.0, so that people don't miss the issue 😊

[2020-07-24 12:49] MatteoGabriele commented on #168
Sure, makes sense

[2020-07-24 14:16] cliqer commented on #168
It would also be nice if we had a 'vue-gtag-next' repository to work on the needed changes while under development just like vue, vue router etc.

[2020-07-26 13:30] MatteoGabriele commented on #168
I have started working on version 2 of the plugin.
The intention is to rewrite a better plugin using all the power of the new composition API as well which will allow the developer more control over it.
you can check the branch `v2` if you want, but it's in early stages.
I will provide a `vue-gtag@next` package when everything will be ready. Another repository is not necessary

[2020-07-28 10:45] dneeleman commented on #165
@MatteoGabriele any updates regarding if this is desired behavior? I assume this might fly under the radar for most people.

[2020-08-15 07:52] aiman1717a commented on #87
@AlejandroMut Thank you so much for stating this. I had this problem and i had to replace the heads again from each page dynamically to solve it. Now i know why the heads were missing in production in the first place.

[2020-08-18 12:45] omaisali commented on #166
didn't get you. How to resolve this

[2020-08-20 08:15] moritzlaube opened #173 "[Question] how to set "enable" property to true from within component?"
Dear Matteo,

thanks for having developed this plugin! I want to use it with Gridsome on a german website where I have to think about GDPR. When initializing the plugin I will set the enabled property to false like described in your documentation:
[code]
Yet, how am I able to access this property from a component within my app to set it to true again? Thanks for helping me out here.

Best,
Moritz

[2020-08-20 11:29] MatteoGabriele commented on #173
oh sorry, didn't know I forgot to add it to the doc.
you should be able to access the method like this

[code]

I am working on the next version of this plugin for vue 3 and it will be sure to make the all doc better

[2020-08-20 11:29] #173 closed

[2020-08-22 13:30] rakeshrio opened #174 "i want to implement this // Measure Google Ads conversions gtag('event', 'conversion', { 'send_to': 'AW-CONVERSION_ID/AbC-D_efG-h12_34-567', 'value': 1.0, 'currency': 'USD' }); but how?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

### Expected behavior

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`:

Then, specify:

1. Operating syste

[2020-08-22 13:35] #174 closed, assigned to nobody

[2020-08-23 21:57] MaciejGorczyca opened #175 "The events that appear on Google Analytics sometimes have wrong page."
### Description

The events that appear on Google Analytics sometimes have wrong page.

![2020-08-15-15-32-11-755-1358x809-Analytics_-_Mozilla_Firefox](https://user-images.githubusercontent.com/26925976/90313704-d9830500-df0e-11ea-9239-fb3bae008271.png)

### Expected behavior

All events should be on "/" page

### Actual behavior

Events appear to be fired from multiple pages but only a single mai

[2020-08-24 14:30] prashantnirgun opened #176 "New to Analytics does <script> provided by google is add it explicitly"
Its not a bug just a information required as I am new to Google Analytics. Google Analytics provide a <script> to be added into header file. Which I believe is not required if we are using vue-gtag.

May I didn't find this in question section so I asked it. I tried adding the library but google Analytics is not showing site hit counts.

[2020-08-26 05:38] Vout commented on #87
I tried the code from @cesasol and it works (after a small change to push data to the app.head instead of overwriting it all) however i have one issue i couldn't figure out.

Everything seems to work fine however query parameters in the URL aren't displayed in Analytics, so i see this one appearing in "live metrics" `https://domain.xx/gaming-entertainment` but i don't see `https://domain.xx/gaming

[2020-08-28 05:28] acgotakuatdji opened #178 "pageTrackerScreenviewEnabled missing config id"
### Description

If we enable `pageTrackerScreenviewEnabled`, vue-gtag missing below command:

[code]

`pageTrackerScreenviewEnabled: false`

![GTScreenshot_20200828_141614](https://user-images.githubusercontent.com/38874985/91524516-6465f580-e93a-11ea-9594-19217ad1f4fb.png)

`pageTrackerScreenviewEnabled: true`

![GTScreenshot_20200828_141657](https://user-images.githubusercontent.com/38874985/91

[2020-08-31 23:37] christopherchateau commented on #168
Is there any type of current workaround that would allow vue-gtag to be used in a Vue 3 project?

[2020-09-01 07:02] MatteoGabriele commented on #168
@christopherchateau within the next 2 weeks I should have enough time to finish the vue-gtag plugin for vue3, but for now there's no way you can use the current version of the plugin in vue3, sorry

[2020-09-02 14:35] #167 closed

[2020-09-02 14:40] MatteoGabriele commented on #167
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-02 15:08] dneeleman commented on #165
@MatteoGabriele any updates regarding if this is desired behavior? I assume this might fly under the radar for most people.

[2020-09-02 16:01] MatteoGabriele commented on #165
I will have a look in the following weeks probably, still pretty busy right now, unfortunately.

Thanks for your feedback.

I'm also working on the redesign for Vue 3 as well so I will try to squeeze this in

[2020-09-03 10:48] dneeleman commented on #165
@MatteoGabriele I really appreciate it, thank you.

[2020-09-04 03:08] 8bu opened #188 "TypeScript support"
Since I'm using it with Typescript, little annoying things are I have to make a temp type declare file to make it works with TS, and keep digging in document to make sure I'm using correct syntax.
Do we have any plan to support TS? I don't have so much experience in writing type but I'm glad to contribute

[2020-09-04 03:24] #188 closed

[2020-09-08 03:44] alexche77 commented on #53
Hi @DavydeVries did you manage to track events related to ecommerce?
Here is some snippet of my setup maybe you can guide me.

I have many of this scattered over the code, I will give it some time for the data to arrive, but if you see something wrong, please let me know.

Thanks in advance!

![image](https://user-images.githubusercontent.com/8463460/92430754-eaf8af00-f152-11ea-8a80-b8d9ee23e3aa.p

[2020-09-08 19:27] MatteoGabriele commented on #53
@alexche77 you probably want to use the [purchase](https://matteo-gabriele.gitbook.io/vue-gtag/methods/purchase) method

[2020-09-08 19:55] WangHansen opened #189 "Got net::ERR_ABORTED 500 error when loading vue-gtag"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?
vue-gtag not loaded correctly

### Expected behavior

Tell us what you think should happen.
vue-gtag should work

### Actual behavior

Tell us what actually happens.
Got net::ERR_ABORTED 500 error
![57731599594508_ pic](https://user-images.githubusercont

[2020-09-08 20:16] WangHansen commented on #189
Nvm, it was due to the fact that I have AdGuard installed globally. After I have it disabled, it starts to work.

[2020-09-08 20:16] #189 closed

[2020-09-08 20:32] saibbyweb opened #190 "Maximum call stack size exceeded"
### Description
My Vue app become inaccessible if I pass the **router** object as the third argument

[code]

### Expected behavior

It should let users add vue router, so that GA doesn't only track the default '/' path for every page view.

### Actual behavior
But instead it throws this error
[code]

### Environment

Running `npm ls vue-gtag` returns **`-- vue-gtag@1.9.0**

OS: Windows 10
Browser

[2020-09-09 08:50] MatteoGabriele commented on #190
hi @saibbyweb thanks for filling the template, unfortunately tho you need to create a representation of your issue in a separate repo and link it to me or see if you can make it on code sandbox or something like it.
needs to be the simplest setup possible so that I can easily identify the cause of this.
this because the issue could be caused by something very specific in your own project and I wou

[2020-09-09 08:51] MatteoGabriele commented on #178
thanks @acgotakuatdji
I'll have a look and let you know asap

[2020-09-09 11:05] sneko commented on #59
Hi @MatteoGabriele ,

Thanks for your answer. I'm wondering what would you recommend since the user can log in and log out.

I know there is the `setOptions()` I could use, but how to re-init the complete GTag flow?

Thank you,

[2020-09-09 16:25] #178 closed

[2020-09-09 16:29] MatteoGabriele commented on #178
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-09 16:30] MatteoGabriele commented on #178
@acgotakuatdji I had to do quite some changes actually but should all work out now. please let me know if it's fixed.

thanks a lot

[2020-09-09 16:48] MatteoGabriele commented on #176
you don't have to add anything, you only need to pass your domain ID and the plugin takes care of the rest

[code]

if you also want to track page switch automatically, you can pass the router instance as third parameter

[code]

for other things you can look at the documentation

- [vue-gtag documentation](https://matteo-gabriele.gitbook.io/vue-gtag/)
- [gtag.js official documentation](https://de

[2020-09-09 16:48] #176 closed

[2020-09-09 17:06] MatteoGabriele commented on #175
@MaciejGorczyca yeah I could reproduce the issue and also read about this

thanks for your feedback

[2020-09-10 02:17] acgotakuatdji commented on #178
@MatteoGabriele  Yes, fixed! Thank you very much!

[2020-09-10 04:33] silvianaho opened #192 "Enhanced Ecommerce - "list_name" is not sent"
### Description

vue version: 2.6.12
vue-router version: 3.4.3
I'm using nuxt@2.14.4
When sending `add_to_cart` or `remove_from_cart` event, my product data is sent, but the `list_name` is not sent

### Expected behavior

This is the product data I'm sending
![image](https://user-images.githubusercontent.com/39721980/92681682-e0ac0000-f360-11ea-8c21-0cd97deaeac0.png)

### Actual behavior

This is

[2020-09-10 10:02] sneko opened #193 "How to send the first view? [SSR][bootstrap=false]"
Hi @MatteoGabriele ,

I'm struggling to send the first view when reaching my website.

All following `$router.push` will be catched by `vue-gtag` (I can see them inside GTM Debug Chrome extension), but the first one is not. I'm wondering if it could come from the fact I use server-side rendering, however the script seems loaded when I call `bootstrap()`:
![image](https://user-images.githubusercont

[2020-09-10 11:05] sneko commented on #193
It don't know if that's a bug with the GTM Debug extension, but having this first page in the "Hits" section is like random. I have 9/10 chance it appears, but sometimes it's not... so I'm not sure it works for my end users when in production hmmmm.

[2020-09-13 06:42] artrayd opened #195 "Can't install"
### Description

Can't install.

After running this command "npm install vue-gtag" getting error:
 "Missing write access to node_modules/vuex."
And I'm not using Vuex for this project.

Tried to run also "sudo", didn't help. Tried to create vuex folder manually, got other error.

### Error text

Getting this error:
npm WARN checkPermissions Missing write access to /Users/newuser/node_modules/vuex

[2020-09-13 06:48] #195 closed

[2020-09-13 06:50] artrayd commented on #195
Solved it by running NPM install, seems like I did something wrong. Package is working great 👍

[2020-09-13 11:51] MatteoGabriele commented on #193
usually for single page applications the first config sends a send_page_view false, so you might want to pass that true in the plugin config params, when you install the plugin.
I am not very much into SSR much, so might be that it needs to be different: instead of a first hit with send_page_view false you want that true and instead of sending event page_view u need a config hit for your page trac

[2020-09-13 11:52] MatteoGabriele commented on #193
you should check your `dataLayer` object in the window object to see what's in the array maybe? that is the most accurate to check

[2020-09-14 09:00] Sharpoon opened #196 "Correct way to add a second property (Adwords) to config"
The docs for gtag.js show how to add a second property to the global site tag by setting a new config `gtag('config', 'GA_MEASUREMENT_ID_2');` . How is this achieved with vue-gtag. Is it ok to just add a global site tag for Adwords alongside the vue-gtag setup which is using a Google Analytics Id.

Thanks

Steve

[2020-09-14 12:45] MatteoGabriele commented on #196
you currently have to do it like this https://matteo-gabriele.gitbook.io/vue-gtag/multiple-domain-tracking
this will change and me more easy to customise with the next version

[2020-09-14 12:45] #196 closed

[2020-09-14 18:02] timothymarois opened #197 "SSR - Fails to use send_to config on events for Google Ads"
Appears to be missing the `send_to` config on event conversions

Im trying to set up something similar to this:

[code]

When running this, it fails to send the fire off. You can see the `send_to` reference here:

https://developers.google.com/gtagjs/reference/api#event

example given:

[code]

This is important for Google Ads conversions/Audience tracking

This is what Google Ads gives:

[code]

[2020-09-14 18:29] timothymarois commented on #197
Found the issue:

https://github.com/MatteoGabriele/vue-gtag/blob/ba592843c3b37ed00f927634c9b23b4851dd8a59/src/api/query.js

Related to the `window` not found because of using Nuxt. That makes sense why it just went blank. Though I wonder why event still failed while page views works just fine, but moment you use `sent_to` it doesnt work, as it looks like `send_to` is in the code base for event me

[2020-09-14 19:49] MatteoGabriele commented on #197
Strange. Nothing should work on ssr then. The only thing I do is just checking if windows and document are defined whenever I use them, not sure to comply more to ssr applications.

Would love to hear some suggestions if you have them

Cheers

[2020-09-14 20:34] MatteoGabriele commented on #168
so I think I almost got a stable-ish version.
I made quite a few changes and I will try to share some of them here before I finish testing, writing the doc and publish.

### installation
I published the vue3 version under `vue-gtag-next` package

[code]
then install the library

[code]

the `property` object is what in the current v2 version is the `config` object. ( shape is still `{ id: Number,

[2020-09-15 06:22] #192 closed

[2020-09-15 10:23] vitomargiotta opened #198 "Failing to load GA property Id from .env variables"
Hi, first of all thanks a million for this simply outstanding and useful project!

When directly hardcoding the Google Analytics domain ID in the config file it all works like a charm. However when retrieving them from env variables, it no longer works. Any idea why and how to fix it?

_Vue.use(
  VueGtag,
  {
    config: { id: process.env.VUE_APP_GOOGLE_ANALYTICS_PROPERTY_ID },
  },
  router
);_

[2020-09-15 10:40] MatteoGabriele commented on #198
Hey thanks a lot for your feedback. Really appreciate it.
It's kinda weird to be honest, it should just work. Just out of curiosity, in the same file, can you console log that variable correctly?
Otherwise I would need a reproduction repo to see this happening

[2020-09-15 11:49] MatteoGabriele commented on #168
as actually suggested once, I moved the next-making to a new repo https://github.com/MatteoGabriele/vue-gtag-next and as you already know everything until completed is moved to the new package `vue-gtag-next`
all questions and issues can now be redirected in that repository.
gonna keep this open just as a reference and will close it when everything is finished.

I hope that you guys will have some

[2020-09-15 15:57] vitomargiotta commented on #198
yes @MatteoGabriele i am able to console.log the env variable with no issue.

update: while building a repo for you to test with I realized I actually mispelled the env variable (I and l are way too similar..)...

I am very sorry for taking your time, and I confirm it actually all works as expected!

[2020-09-15 15:57] #198 closed

[2020-09-15 15:59] MatteoGabriele commented on #198
No worries man, that's why making a reproduction outside our projects it's always a good idea cause often we don't make the same mistakes or at least we have less code to look at

Cheers

[2020-09-15 20:00] MatteoGabriele commented on #168
just published a new update on the package `vue-gtag-next` v1.12.0 and I think it has all I needed to add. I am only missing tests and documentation which, as usual, will take more than the actual coding 🤣

[2020-09-15 20:07] MatteoGabriele commented on #175
I'm sorry I forgot to update you. this bug has been most likely fixed while fixing another problem.
just to remember that the plugin does not send page_view or screen_view events automatically unless you are using the built-in router auto-tracking feature, otherwise you have to manually hit the page_view yourself before sending an event.

let me know if there are any other feedback

cheers

[2020-09-15 20:07] #175 closed

[2020-09-15 20:50] christopherchateau commented on #168
Is it necessary to add a vue-gtag-next.d.ts file in order to use this with typescript?
Thanks for the new version!

[2020-09-15 21:01] MatteoGabriele commented on #168
@christopherchateau to be honest I want to find a way to get the typescript file out of the repository, especially because I don't use typescript and don't want to judge a PR with typescript code for example.
If you have any ideas, I'm all ears.

Thanks

[2020-09-16 13:07] MatteoGabriele commented on #168
Todo list

- [ ] migration
- [ ] tests
- [ ] documentation

[2020-09-19 08:47] fabianwohlfart opened #199 "Enable / Disable Function"
Is there a way to enable() and disable() the plugin after enable: false in the config?
I cannot find it in the documentation.

[2020-09-21 06:45] MatteoGabriele commented on #199
yes, there is and I don't know why I didn't add it to the documentation. sorry about that.
you can use the `this.$gtag.optIn()` or `this.$gtag.optOut()`

those are all the methods you can access from the `$gtag` object in your component context
[code]

[2020-09-21 06:45] #199 closed

[2020-09-21 10:40] aakritsubedi opened #200 "Unable to track User Id"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
 - Unable to track user id data or not clearly mentioned in document

What are you reporting?
- user id analytics

### Expected behavior
- set user id in analytics

Tell us what you think should happen.

### Actual behavior

Tell us what actually happens.

### Environment

Run t

[2020-09-24 06:44] MatteoGabriele commented on #200
I see that you have properly filled up the template....
![image](https://media4.giphy.com/media/TJawtKM6OCKkvwCIqX/giphy.gif)

[2020-09-24 06:49] MatteoGabriele commented on #200
btw if you want to add it at start you can do

[code]

if you need to set it in specific place your might want to do this in your component

[code]

it really depends on your needs

[2020-09-24 06:49] #200 closed

[2020-09-24 06:51] MatteoGabriele commented on #190
I will close this issue due to inactivities, but please feel free to re-open it once there is a reproduction of the issue available.

[2020-09-24 06:51] #190 closed

[2020-09-25 11:13] aakritsubedi commented on #200
Thank you

[2020-10-01 14:27] hsblhsn opened #201 "FEATURE REQUEST: option to load the script with `defer` attribute."
I don't want the gtag.js to load on my site like this:

[code]

I want it like this

[code]

Here is how it impacts the site.

![](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/loading-third-party-javascript/images/image_13.png)

Please provide an option for this.

[2020-10-06 13:20] snickbit commented on #190
I'm having the same issue, here's a reproduction: https://codesandbox.io/s/gtag-error-fcdtk

[2020-10-06 20:10] MatteoGabriele commented on #190
@snickbit judging by the example u made, you have to pass the router as a third argument in the `use` method, not as a property of the second argument.
I get that is confusing and that's why in the next version of vue-gtag for vue 3, this has changed to make it easier to implement

[2020-10-07 10:51] MatteoGabriele commented on #168
update: the typescript definition has been merged and published in the new version.
I am still working on finishing the documentation

[2020-10-07 21:32] sveencoop opened #209 "GTAG User Id"
How set the User Id, like in Gtag.js?

[code]
https://developers.google.com/analytics/devguides/collection/gtagjs/cookies-user-id#set_user_id

[2020-10-07 22:36] #209 closed

[2020-10-09 09:20] Maucin opened #210 "Improve typescript support for methods { event, purchase, ... }"
### Description

File `vue-gtag.d.ts` does not contain export for methods like: `event`, `purchase` ... . When I try to import in the `vuex` those methods I get message `TS2614: Module '"vue-gtag"' has no exported member 'purchase'. Did you mean to use 'import purchase from "vue-gtag"' instead?`.

Related items:
https://github.com/MatteoGabriele/vue-gtag/commit/7e1a40162d5226e91b1c37e61f629e551481

[2020-10-09 09:57] MatteoGabriele commented on #210
true, I must have forgotten.
if you are familiar with type definitions, please go ahead and make a PR for this, otherwise I will pick this up as soon as I have time.

thanks again

[2020-10-09 20:33] srchulo opened #211 "Possible to add multiple IDs to config?"
Is there a way to add multiple IDs (analytics, adwords) to the config? I can only find the example of one:

[code]

If this is possible, it would be great to have an example in the documentation.

Or would I need to do something after that to add another ID, like:

`this.$gtag.config('adwords_id')`

[2020-10-09 21:22] MatteoGabriele commented on #211
Is this what you are looking for? https://matteo-gabriele.gitbook.io/vue-gtag/multiple-domain-tracking

[2020-10-11 02:55] srchulo commented on #211
I think that did it, thank you! Sorry I missed that in the documentation.

I wonder if it might be good to put that example in the getting started section? It wasn't clear to me that "Multiple Domain Tracking" would mean this, but maybe I'm just not familiar enough with Google's lingo!

Thanks!

[2020-10-11 03:33] srchulo commented on #211
Actually, I included that, and although I see it making the request for gtag.js, I don't see page views or conversion events being sent to the other "domain", just to the UA id.

[2020-10-11 14:08] shumiyao commented on #144
Hasn't this issue recurred with recent versions including vue-gtag 1.9.1?

I found out that `https://www.google-analytics.com/j/collect?v=1&_...` does not get loaded with the version 1.9.1 while specifying the version to 1.6.4 in the package.json allows the `collect` script to be loaded.

The collect script seems to be necessary for the Google Analytics Realtime report to work.

[2020-10-12 07:12] ajbiz opened #212 "mergeDeep error when adding 'router' as an argument"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When I add my router as an argument to the initialization of vue-gtag, the web page doesn't display and I get an error in the console. Otherwise, if I remove the router from the config, pages display normally and my custom events make it to the Analytics engine.

### Expected b

[2020-10-12 09:01] MatteoGabriele commented on #212
I've changed the way to install the router in the next version of the plugin, because I see people making this mistake often lately, but in the documentation it's written that the Router instance needs to be added as the **third parameter**, not inside the options (https://matteo-gabriele.gitbook.io/vue-gtag/auto-tracking#enable-auto-tracking)

[code]

[2020-10-12 09:01] #212 closed

[2020-10-12 10:37] Maucin commented on #210
Please take a look on https://github.com/MatteoGabriele/vue-gtag/pull/213

Cheers,
Marcin

[2020-10-13 07:52] shumiyao commented on #144
@MatteoGabriele

Hasn't this issue recurred with recent versions including vue-gtag 1.9.1?

I found out that `https://www.google-analytics.com/j/collect?v=1&_...` does not get loaded with the version 1.9.1 while specifying the version to 1.6.4 in the package.json allows the `collect` script to be loaded.

The collect script seems to be necessary for the Google Analytics Realtime report to work.

[2020-10-13 08:43] MatteoGabriele commented on #144
@shumiyao I'm not sure about that script there, but there's nothing indicating the need to load a second script while bootstrapping gtag.js

[2020-10-13 10:18] shumiyao commented on #144
@MatteoGabriele

We do not need to load the "collect" script at all. It is loaded automatically when we load https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXX-XX

The access to collect script is not requested when I use the latest of 1.9.1 but it works when I specify the vue-gtag version of 1.6.4. Can it be related to vue-gtag?

[2020-10-13 10:38] MatteoGabriele commented on #144
still not quite sure, but 6 new version have been published after 1.6.4, can you identify after which one this stops working for you, then will be easier to identify a possible cause of this malfunctioning

[2020-10-13 10:39] shumiyao commented on #144
Sure. I will try by this evening.

[2020-10-13 10:40] MatteoGabriele commented on #144
thanks a lot for you help @shumiyao
really appreciated

[2020-10-13 12:09] shumiyao commented on #144
@MatteoGabriele

I compared outputs between 1.64 and all other 5 versions. All the version after 1.7.0 do not seem to work with the Google Analytics.

The only differences I could find were whether ```2&amp;l=dataLayer``` is included in the url (www.googletagmanager.com/gtag/js?) or not:

<img width="1079" alt="Screen Shot 2020-10-13 at 12 55 48 PM" src="https://user-images.githubusercontent.com/5

[2020-10-13 13:19] MatteoGabriele commented on #144
@shumiyao but the `&l={DATALAYER_NAME}` is supported by the official documentation https://developers.google.com/gtagjs/devguide/datalayer#rename

[2020-10-13 13:42] shumiyao commented on #144
@MatteoGabriele

That was the only difference I could find between different versions. Any chance that we could suppress the `DATALAYER_NAME`?

[2020-10-13 13:59] MatteoGabriele commented on #144
I will have a look later. Thanks for your debugging

[2020-10-13 14:01] shumiyao commented on #144
@MatteoGabriele
I did not do anything at all. Thank you for your attention and your time. Have a nice day!

[2020-10-13 15:54] Liam26 commented on #199
It's worth noting this was closed but has not been added to the gitbook documentation yet, took me a while to find this and others may still be looking.

[2020-10-18 15:56] mittalyashu opened #215 "Inject config ID dynamically"
I am trying to inject config ID dynamically after querying it from database.

First I have initialised the vue-gtag in `main.js`

[code]

And in `app.vue` inside created lifecycle hook.

[code]

This didn't work out.

[2020-10-18 17:23] MatteoGabriele commented on #215
No that's the config command from gtag.
I am working on the vue3 version and it has a lot of these fixes and u can customize the whole process easier. Not sure if i can bring the same changes on this current version.
I will try to make some time.

Right now you can go to the documentation and use the alternative bootstrap logics.

https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#set

[2020-10-19 06:43] TobiasGOhmy opened #216 "Chrome plugin Google Tag Assistant registering multiple tags"
Hello!
I noticed that my site is adding multiple gtag-scripts when I check my website with the "Google Tag Assistant" chrome plugin. Is this intended? It keeps adding more and more scripts when I change routes (according to the plugin). I can see it registers page views in GA, but i'm afraid the numbers wont be accurate because of this.

My implementation looks like this:

Vue.use(VueGtag, {
  con

[2020-10-19 07:54] mittalyashu commented on #215
On looking into the documentation and implementing `setOptions` it did work.

Do you have any thoughts on performance cost for initialisation `vue-gtag` before mounting Vue app or inside a component?

[2020-10-19 09:04] MatteoGabriele commented on #215
no i don't think there are any drawbacks. it's a matter of preferences and availability of your data: like if you have or not the domain ID statically

[2020-10-20 00:59] mittalyashu commented on #215
Quick question, does that mean we can't inject dynamic config ID before vue.js getting initialised?

I can create a PR on that topics to make it more clear for other devs.

[2020-10-20 06:36] MatteoGabriele commented on #215
Well you to be able to download the gtag snippet you need an ID to attach to the URL. To achieve this with an ID coming from the database you would do the bootstrap as we said before. Other than that, whatever u can do with gtag, u can do here. Its the same library

[2020-10-21 09:49] MatteoGabriele commented on #168
update: Just release the documentation for version 2 here https://matteo-gabriele.gitbook.io/vue-gtag/v/next/
some feedback would be much appreciated.
I hope I didn't miss anything.

[2020-10-22 03:23] mittalyashu commented on #215
Thanks for the help.

I am closing this issue.

[2020-10-22 03:23] #215 closed

[2020-10-22 08:30] Renaldekoker opened #217 "Enhanced Ecommerce support"
Hi,

How can I use this package to send enhanced e-commerce data like in the vue-analytics package?

I tried doing, but GA doesn't action this as an EC event.

$gtag.event('productClick', {ecommerce: click: {...}})

[2020-10-24 23:46] evvvritt opened #218 "Pass through gtag config options? (storage, anonymize_ip)"
I'm trying to implement [this strategy](https://j2h.com/blog/google-analytics-without-cookies/) for gtag without cookies but can't seem to figure out how to pass the `storage:none` parameter into your plugin.

I see from #150 and 93c17e1 you implemented a way to pass in additional config?

I tried the following but a cookie is still created:
[code]
Thanks!

[2020-10-24 23:58] evvvritt commented on #218
Whups, had the key wrong 😑 `{ "client_storage": "none", "anonymize_ip": true}` works

[2020-10-24 23:58] #218 closed

[2020-10-28 03:20] cesasol commented on #87
@Vout Sorry for the late response. But your issue comes from the fact that vue-gtag uses vue-router to detect route changes but if you change the query string without using vue-router (like assigning a location) then vue-gtag has no way of detecting the route change

[2020-10-31 23:08] Jamie4224 commented on #56
Just a quick comment, I think this should be added to the docs, I couldn't really find it quickly while a lot of people need this.

[2020-11-02 13:44] HairMachine opened #229 "Query string parameters not appearing in google analytics"
### Description

When visiting a page that contains query parameters, (such as /blah?foo=bar), the query parameters do not appear in the google analytics dashboard - so only /blah is appearing.

I believe this started happening when we switched from the original vue-analytics version of the library to this one; query parameters had previously been working fine.

I am not 100% sure whether this is

[2020-11-03 11:06] havardl opened #230 "How to set cookie_flags?"
In Firefox I'm getting the following error in the console:
`Some cookies are misusing the recommended “SameSite“ attribute`

I've tried to set the SameSite attribute to comply, but it doesn't seem to have an effect. This is my current implementation, am I misunderstanding how to set these variables?

[code]

[2020-11-03 21:26] MatteoGabriele commented on #230
Yes the `config` objects has 2 properties `id` and `params`
Try to put those two paraments inside the `params` object. Should work

[2020-11-04 14:35] HairMachine commented on #229
Update on this one: after probing further, I found downgrading the module to 1.6.4 fixes the problem. All versions above that seem to stop passing query strings.

[2020-11-04 15:52] havardl commented on #230
Hi @MatteoGabriele, thanks for the clarification. Can confirm that this works.

[2020-11-04 15:52] #230 closed

[2020-11-04 21:03] hhanckes commented on #216
Same here. Any advice? Thanks.

[2020-11-04 21:25] MatteoGabriele commented on #216
What do you mean for "gtag-scripts"?

[2020-11-05 08:54] jpichon21 opened #231 "Google Analytics 4 support ?"
Hi,

I'm currently looking to add vue-gtag in a Vue 2 project, but It seems that the Universal Analytics "UA-XXXXXX-X" tag is no longer support since Analytics 4 (October 2020).

Should I wait for a vue-gtag update ?

Thank you

[2020-11-05 10:30] lassesteffen commented on #231
This library also works with the new tag without a problem

[2020-11-05 16:38] hhanckes commented on #216
If you use the "tag assistant" that's a chrome addon you'll see the following warning message: "Multiple installations of Global site tag (gtag.js) detected". Attached the screenshot:

<img width="454" alt="Screen Shot 2020-11-05 at 1 37 32 PM" src="https://user-images.githubusercontent.com/1490884/98269115-24d80d00-1f6c-11eb-9d30-437def793ddb.png">

[2020-11-05 21:11] pbujko opened #232 "bootstrap() causes Uncaught TypeError: b is undefined"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

`Uncaught TypeError: b is undefined  seen at the bootsrap` seen in browser console and no events stopped to be reported to google

### Actual behavior
Issue started appearing all of a sudden since Nov 5th

### Environment
-    "vue": "^2.6.11",
-    "vue-gtag": "^1.8.0"

1. Ope

[2020-11-07 19:47] MatteoGabriele commented on #231
gtag.js already supports GA4

[2020-11-07 19:47] #231 closed

[2020-11-09 04:20] AliasIO commented on #232
I'm having the exact same issue. The error is coming from GA, perhaps the API changed. I switched to [@nuxtjs/google-gtag](https://www.npmjs.com/package/@nuxtjs/google-gtag) as I'm using Nuxt anyway, no issue there.

[2020-11-12 12:07] luke-hawk commented on #216
+1

[2020-11-12 19:56] MatteoGabriele commented on #216
I've been using the tag assistant but for me looks different and it doesn't really say nothing about multiple installation.
I literally run their script once, so I am not sure what to do.
Any suggestions?

<img width="1717" alt="Screenshot 2020-11-12 at 20 54 56" src="https://user-images.githubusercontent.com/5337152/98989428-6139d900-2529-11eb-932f-9fcbfc3929c7.png">

[2020-11-13 13:41] joweste commented on #190
I have the same problem. Here is my main.js:

[code]

[2020-11-13 13:48] MatteoGabriele commented on #190
@joweste you have to read tho. The comment right before yours is the correct install.

[2020-11-13 14:10] joweste commented on #190
Thanks. It was solved

[2020-11-17 15:52] a-r-t opened #233 "Sending events to multiple tracking ids does not work"
### Description

Sending events to multiple tracking ids does not work using the example from the docs: https://matteo-gabriele.gitbook.io/vue-gtag/multiple-domain-tracking

### Expected behavior

After installing the plugin like this:
[code]

I should be able to run the below command to send an event to a particular tracking id using the "send_to" param:
[code]

### Actual behavior

The "send_to"

[2020-11-30 10:28] cheindel commented on #232
I have the same problem. Did you find a solution for this?

[2020-12-01 19:44] Bkl741 opened #240 "VueRouter set but gtag take browser page title"
Hi,

I configure vue-gtag to use vuerouter but when I watch gtag query, browser page title is sent (not route name). When I debug plugin, parameters are set correctly :

Configuration :

`Vue.use(VueGtag, {
  config: {
    id: "GTM-XXXXXXX"
  }
}, router);`

Parameters in vue-gtag :
`
{
page_title : 'MyRouteName',
page_location :  'MyLocation',
page_path: 'MyPath'
}
`

I don't understand why...

M

[2020-12-01 19:46] MatteoGabriele commented on #240
You need to create a reproduction do that i can check. Please needs to be as simple as possible reproducing your issue

Thanks

[2020-12-02 16:33] Bkl741 commented on #240
I tried with another vue plugin. It seems that google tag manager override router title with browser page title.

When I debug your plugin, router name is sent to google tag manager but it's overrided inside the google library

[2020-12-02 17:10] MatteoGabriele commented on #240
It is weird. Are u using an SPA or it's an SSR application? Don't know why should act differently but just to have the full picture

[2020-12-03 08:58] Bkl741 commented on #240
I'm using an spa

[2020-12-04 15:36] didiosn opened #241 "Still no data reporting in Google Analytics"
Hello, it's been 3 days, that i've add bue-gtag to my project but I still do not have data on my dashboard.
My snippet :
`Vue.use(
        VueAnalytics,
        {
            id: 'G-KVGJ7X4JBG'
        },
        router);`

How can I fix it ?

Thanks

[2020-12-04 16:24] MatteoGabriele commented on #241
I'm a bit confused by the variable name but i assume you are using vue-gtag and not vue -analytics.

The property is `config.id`, not just `id`

You should check the documentation

[2020-12-05 08:16] didiosn commented on #241
Hi don't worry about the variable name, I was using VueAnalytics :

`import VueAnalytics from 'vue-gtag';`

Ok, let me change like this :

`Vue.use(VueAnalytics, { config.id: 'G-KVGJ7X4JBG' }, router);`

[2020-12-05 09:05] MatteoGabriele commented on #241
Well not literally, what I mean is that it's an object called config with a
property called id.

Please just follow the documentation

On Sat, Dec 5, 2020, 09:16 DidiosFaust <notifications@github.com> wrote:

[2020-12-05 14:55] didiosn commented on #241
Hi, Thank you for your, I'm getting data now. Thanks.

[2020-12-05 14:55] #241 closed

[2020-12-06 14:17] DEADSEC-SECURITY opened #243 "Possible bug with vue-gtag (Reported by sentry)"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

Sentry issue: https://sentry.io/share/issue/c153585cc6c94f9f9ca96d3728dab9cf/

### Description

An error keeps coming up saying that cant ready the property groups of undefined.

### Expected behavior

This error should be handled by skipping action or trying again and should not return a TypeE

[2020-12-07 23:49] PureLines commented on #160
I've the same issue.

@MatteoGabriele did you have a chance to take a look?

[2020-12-08 12:07] raminjafary commented on #216
@MatteoGabriele This is a common issue of Google Tag Assistant in SPA routing. It can't detect page transitions correctly so it loads the GTM (or GTAG) container for each URL. As far as you see one request per page in your browser's Network requests, everything is working properly! I think we can add this somewhere in the docs!

[2020-12-08 18:02] MatteoGabriele commented on #216
Thanks a lot for the update, I'm sure the ticket itself will be enough for people to look at. If i have time, i might add it to an article I'd like to write for the upcoming version 2

[2020-12-09 07:55] DanFaudemer commented on #160
@PureLines below my solution using custom template:

[code]

[2020-12-16 22:51] PureLines commented on #160
Yes, it works, thanks @DanFaudemer.

And I improved with:
[code]

[2020-12-17 07:32] kierans opened #246 "Add ability to set router post install"
Firstly, thanks for your efforts putting this awesome little library together. 👏

It's great that one can configure/bootstrap the plugin later ie: post Vue app boot, however I think it would be good to be able to set the router post install. I have a setup where the router is dynamically created/configured (I'm using a hybrid web app/SPA) and is not known at "install time" as the the code that ins

[2020-12-18 07:13] kierans commented on #193
I'm having a related problem. The host page for my app (including the `<script>` include for the Gtags library) is rendered serverside. I have a `window.onload` event handler that tells my Vue app to bootstrap the analytics module which in turn calls `bootstrap` in vue-gtag.

I've noticed that even with `send_page_view: true` in my params the first view event isn't being sent to GA. I've checked t

[2020-12-18 23:21] soylomass opened #248 "First hit is not sent if bootstrap with delay"
If I bootstrap the plugin with a delay, when the executions reaches this code:

[code]

The current param is undefined.

I solved the problem changing:
to: current

To:
to: Router.currentRoute

[2020-12-22 12:55] dclawson opened #249 "Nuxt track page views"
I am looking for a way to track page views automatically using Nuxt and vue-gtag.

I am unable to use the VueRouter as suggested in the docs as Nuxt does not expose this.

I have tried using custom middleware but can't seem to access `$gtag` this way.

Is there a preferred way to track all page views using Nuxt or expose the `$gtag` to context somehow?

[2020-12-22 16:55] #216 closed

[2020-12-23 15:16] diogoaguiar opened #250 "IP Anonymization"
Is it possible to enable IP Anonymization, as in the [gtag.js documentation](https://developers.google.com/analytics/devguides/collection/gtagjs/ip-anonymization)?

I tried passing it on the global config but I'm not sure it's doing anything.

[2020-12-23 15:41] vitomargiotta opened #251 "How get clientId"
### Description

In order to use the measurement protocol I am required to pass the clientid. However I am struggling with understanding how to get it using vue-gtag. Any clue? Or is it not possible to achieve currently?
Thank you so much for this repo and I wish you a great day

### Actual behavior

I tried following the guide here: https://developers.google.com/gtagjs/reference/api#get
as follow

[2021-01-06 15:13] timmygee commented on #249
Hey @dclawson I had the same problem. You can actually access nuxt router from the context in your plugin and pass it to vue-gtag like so:

[code]

Hope that helps!

[2021-01-07 14:42] erlendoverby opened #259 "Using methods within components should check for enabled or not?"
I have implemented some consent support, storing the consent value in the localStore.
In my main.js I'm checking for the value of the localStore consent value, and based on that I either initiate a new consent dialog (localStore value === null) using the bootstrapping methods when consent is given, when localStore value is true I'll load the scripts and initiate VueGtag as expected, when consent i

[2021-01-14 19:14] TitanFighter opened #260 "How can I let the module to load script on receiving Google ID from API (so initially it has disableScriptLoad: true)?"
Hi.

My site receives some settings from API. Some settings may include Google ID, some not, so in the 2nd case no reason to load script, so because of this I do the next:

[code]

Then I check if settings include Google ID:

[code]

  and this does not work. Is there a way to load script and bootstrap it in this case?

  Thank you.

[2021-01-16 18:39] TitanFighter commented on #193
This works:

[code]

[2021-01-18 04:07] Azurox opened #261 "Hidding warn message in production"
Hi,
Users using Brave or AdBlock will receive this message in the console :
`[vue-gtag] Ops! Something happened and gtag.js couldn't be loaded`

I don't think that it's possible to hide any warning message coming from vue-gtag,
Maybe adding a handler in the plugin option to be able to catch those errors and not throw them in the console would be better ? Not sure about this :)

Thank you for your

[2021-01-21 13:50] sts-ryan-holton opened #262 "Plugin not sending any data to Google"
I've got the latest version of Vue Gtag 1.10.0, and for some reason it's not sending any page view events or nothing to Google. Why is this?

[code]

My config remains unchanged, Vue 2 project

[2021-01-21 15:54] TitanFighter commented on #262
Do you see something like
[code]
in the generated HTML?

[2021-01-21 18:13] sts-ryan-holton commented on #262
@TitanFighter I see that in the network request yes

[2021-01-21 19:01] TitanFighter commented on #262
do you see `page_view` event in `window.dataLayer`?

[2021-01-22 02:34] ktmellow opened #263 "pageview not showing up in google analytics"
Can someone help show me what I'm missing? I'm able to see users' initial page views but not when using pageview methods in my components. Even though the page views are missing, I see the network calls to google analytics when the components mount.

In app file:
[code]

In component:
[code]

[2021-01-22 02:39] TitanFighter commented on #263
Duplicate -> https://github.com/MatteoGabriele/vue-gtag/issues/262

[2021-01-22 04:59] ktmellow commented on #262
I have the same issue. I have many page_view events in window.dataLayer array.

[2021-01-22 06:51] sts-ryan-holton commented on #262
@TitanFighter I see it yes, but no data is being sent to Google. It randomly stopped after about November last year

[2021-01-22 08:55] pbujko commented on #262
@sts-ryan-holton  - having exactly the same issue, no change on the client side and stopped reporting views over one night. Some time after we started seeing some impressions, views reported back - but we are certain it is not 100% of relevant data but rather only 50% of the traffic gets reported on google console.

[2021-01-22 10:46] TomSinclair commented on #262
Also having the same issue. The gtag script is generated and requested btu then data is sent. Turning on the debug mode is showing no data sent to GA.

[2021-01-22 16:59] sts-ryan-holton commented on #262
I just ended up pasting the original Google Analytics into my `*.vue` file as a temporary solution, of course, doesn't work for page navigation, but will work for whatever page is loaded on first page load. **Hopefully this core issue with this plugin can be fixed some time soon!!**

[2021-01-26 11:35] xaander1 opened #264 "Proxying vue-gtag using Nginx to bypass Adblock and other blockers"
Is it possible to change the analytics domain where vue-gtag points to in order to bypass adblock and other blockers.
Here is a guide of what I mean : [using nginx to bypass blockers](https://gist.github.com/paivaric/211ca15afd48c5686226f5f747539e8b)
So instead of: `https://www.google-analytics.com/analytics.js` to point to `/analytics.js`

Or how does vue-gtag address blockers??

[2021-01-26 21:10] bmc-at-hfi commented on #240
I'm having the same issue with my SPA. Similar to @Bkl741, I am using VueGtag with very few tweaks out of the box.

`Vue.use(VueGtag, {
  config: {
    id: "G-XXXXXXXXXXX"
  }
}, router);`

However, when I took a look at the page views that Google Analytics was collecting, I noticed that some came through with the route name, which is the vue-gtag default, but some came through with the webpage ti

[2021-01-27 09:27] alex-kowalczyk opened #265 "vue-gtag does not launch custom html tags"
### Description

GTM does not send custom html tags.
Reproduce by
* define Analytics tag in your workspace - Page View trigger
* define some custom HTML tags. For instance: facebook pixel snippet, or custom HTML code fetching specific URL and/or typing something to the console.
* publish the workspace and ensure it's published correctly with no script errors
* Initialize tag using code below

###

[2021-01-29 00:48] MajorClod commented on #262
I too am experiencing this.  Trying to use the out of the box setup.

Vue.use(VueGtag, {
  config: {
    id: "<MY_ID>", params: {
      send_page_view: false
    }
  }
}, router);

It looks like all of the page views are being sent to Google Analytics, but they're being logged under the overall Application Name, rather than the individual pages.

[2021-01-29 07:04] MajorClod commented on #262
Hmm I think I've fixed this for myself.  My problem is I didn't have name: defined in my routes, just path.

[2021-01-29 17:28] daidais commented on #229
To resolve this I set pageTrackerSkipSamePath to false and give atemplate for pageTrackerTemplate like this :
[code]

But it could be great to check the fullPath for duplicate to

[2021-01-30 14:29] alex-kowalczyk commented on #265
Underlying `gtag.js` does not support custom tags, only a fixed set of GA and few others.
https://www.obilityb2b.com/blog/how-to-choose-between-google-tag-manager-and-global-site-tag/

For custom tags to work, `gtm.js` based plugin must be used instead (like `vue-gtm`).

[2021-01-30 14:29] #265 closed

[2021-02-03 10:30] nathansmedley opened #270 "Analytics realtime page behind"
Hi,

I have vue-gtag installed on a gridsome website, however the pageview event doesn't seem to get fired until you leave that page which is not ideal. For example if I go to www.example.com and then look in the analytics real time I won’t see anything on the site but if I then navigate to www.example.com/foo I will see someone on the site in analytics real time but on www.example.com same would

[2021-02-04 15:49] #270 closed

[2021-02-07 22:32] roxburghm commented on #261
I second this.

When using an error reporting library this gets reported as a JS error when it is in fact just a routine event.

Either provide an option to supress the error or change the console.error to a console.log or console.warning

[2021-02-08 07:24] #261 closed

[2021-02-08 07:30] MatteoGabriele commented on #261
I went for the console.warn options

[2021-02-08 08:09] #201 closed

[2021-02-08 08:10] MatteoGabriele commented on #201
I've added the `deferScriptLoad` boolean option in the list of plugin options

[2021-02-08 08:11] MatteoGabriele commented on #201
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-08 08:11] MatteoGabriele commented on #261
:tada: This issue has been resolved in version 1.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-09 18:54] TitanFighter commented on #201
@MatteoGabriele docs do not have this option -> https://matteo-gabriele.gitbook.io/vue-gtag/plugin-options

[2021-02-09 18:56] MatteoGabriele commented on #201
Didn't have time, sorry. I will update it

[2021-02-19 09:34] dmitam opened #272 "How can I handle gtag loading error?"
I want to run my code if loading error occured (send report to log or something).
It would be convenient if it has some method like onError or onLoadError

[2021-02-19 09:52] julianfox opened #273 "In Nuxt this.$gtag is undefined in actions of vuex store"
### Description

In Nuxt this.$gtag is undefined in actions of vuex store

### Expected behavior

Be able to access gtag in actions of vuex store

### Actual behavior

$gtag is undefined, work well in components

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`:  vue-gtag@1.11.0

Then, specify:

1. Operating system: Mac Os 10.14
2. Browser and v

[2021-02-21 21:40] MikesGlitch commented on #249
If anyone's looking for an example there's one here: https://github.com/MikesGlitch/mikesglitch.com/tree/main/googleanalytics

It may need some modifications for your specific scenario

[2021-02-25 14:16] vmihailenco commented on #210
Is there anything specific I need to do to enable TS types (import `vue-gtag.d.ts`?)? I've installed gtag

[code]

but get the error (typescript 4.1.5)

[code]

[2021-02-27 19:02] mehmetgspace commented on #262
If you add **send_page_view** param, it'll be work.

[code]

[2021-03-01 22:28] camero2734 commented on #264
Got this working by using the `customResourceURL`. In this case, I mapped it to `/gtag`:

[code]

[2021-03-03 04:50] xaander1 commented on #264
How are you automatically getting the route in ​`ctx​.​app​.​router​`

[2021-03-03 16:22] #264 closed

[2021-03-17 17:56] pulakchakraborty commented on #199
@MatteoGabriele Could you please update the info in the gitbook documentation? I was stuck on this for quite a while untill i started looking at all the issues :(

[2021-03-17 21:58] MatteoGabriele commented on #199
oh jeez! so sorry. I added them in the `next` version, but forgot here

https://matteo-gabriele.gitbook.io/vue-gtag/api

[2021-03-19 09:39] georgenis opened #279 "Realtime tracking went on after optOut()"
### Description

I am reporting a bug. I have a cookie consent, which disables the gtag with "this.$gtag.optOut()". In my google analytics dashboard i can see realtime data and how i interact with my webapp. How can I disable the whole tracking?

### Expected behavior

I think it should show any realtime data anymore, after i disabled it with optOut().

### Environment

`npm ls vue-gtag`:  vue-gta

[2021-03-20 10:37] MatteoGabriele commented on #279
Opt-out uses the built-in feature of the library which still fires events but never sends them: they are all aborted.

[2021-03-20 11:09] georgenis commented on #279
Why is it visible in my Google Analytics dashboard? It isnt GDPR compliant, is it?

[2021-03-25 13:48] dennismetz commented on #262
Same Problem, params send_page_view: true is not helping at all

[2021-03-25 15:04] cloudnine-gjacob commented on #262
I looked at the code and the send_page_view does not seem to be passed though and merged properly. As our customer was loosing her shit i just set it to true for now and the page views track properly.

allProperties.value.forEach(function (property) {
var params = Object.assign({
send_page_view: false
}, property.params);
query("config", property.id, params);
});

[2021-03-25 22:13] pierresaid commented on #273
Use vm in nuxt

[code]

[2021-03-26 13:52] adrianovieira opened #280 "question: how to set custom fields for every event?"
How can I set custom fields (e.g.: `site`, `source`) for every event been sent to ganalytics?

I tryed both ways below, but none of then worked on my vue app

1. as *`parms`*

[code]
2. as *`set`*

[code]
Please, let me know what I need to do to have those data values from that custom fields on ganalytics.

[2021-03-29 17:28] adrianovieira commented on #280
I also tried this, but neither this worked:

[code]

Please, let me know what I need to do to have those data values on ganalytics. :pray:

[2021-03-29 19:35] adrianovieira commented on #280
So, I found the solution:

[code]

Thx

[2021-04-08 15:21] popovicidinu opened #282 "Incorrect page title reported via Analytics"
### Description

Hi! I'm working on a project with NuxtJS (SSR mode) and I've installed this library to use with GA v4. It pretty much works outside the box, but I've noticed that if you use "pageTrackerScreenviewEnabled", the dt value is not properly reported on subsequent navigations.

Example:

Page 1: (rendered from SSR): correctly reports the values on the screenview event
Page 2: (navigating

[2021-04-10 10:33] MatteoGabriele commented on #262
sorry to come back to you so late. @cloudnine-gjacob I am actually having no issue looking at my debugger:
the first config call for the initialization triggers a send_page_view = false, but all other page_view events have the send_page_view=true attached to them as you can see in the video here

https://user-images.githubusercontent.com/5337152/114266860-f79af980-99f8-11eb-97f9-c1998dbae0d4.mov

[2021-04-10 11:15] MatteoGabriele commented on #233
I'm sorry but I can't reproduce this issue. I am able to send events with multiple domains listed in the send_to and if I want to override the send_to for a particular event, I can just simply pass it.

[2021-04-10 11:18] MatteoGabriele commented on #233
[code]
with

[code]

this will produce

[code]

if then I use this snippet

[code]

I will send this

[code]

please provide better reproduction of this issue and reopen the ticket.
thanks a lot for your feedback

[2021-04-10 11:18] #233 closed

[2021-04-10 11:21] MatteoGabriele commented on #251
I didn't add the `get` api method, but as stated in the documentation, whatever is missing, you can simply use the `query` method which gives you full access to the gtag library

sorry for the ridiculous late response

[2021-04-10 11:21] #251 closed

[2021-04-10 13:03] MatteoGabriele commented on #240
sorry for the ridiculously late response, but I tried a bunch of things and nothing: I always get the debugger or the request to analytics sending the right data.
unfortunately, I need a real reproduction with this issue highlighted.

please feel free to re-open this ticket if you find the way

thanks again for your feedback

[2021-04-10 13:03] #240 closed

[2021-04-10 14:29] douglas-fabiano commented on #240
I also have the same problem.
When analyzing the requests I realized that the route name of the vue router is being sent, which is the correct one.
But the title of the page is also sent in the parameters, and when entering google analytics the two names are left.
This is only happening when I have the <title> tag in the html.

![image](https://user-images.githubusercontent.com/39135298/114273275-

[2021-04-10 14:54] MatteoGabriele commented on #240
@douglas-fabiano couldn't that be something that Google Analytics takes out of the box from the `document.title`? I'm going to check if there's a way to disable that manually

[2021-04-10 15:09] MatteoGabriele commented on #240
So I removed names of my routes and the `page_view` was sent with `page_title: undefined`, but in the Hit Details, the `dt` (Document Title) property was filled with my page title.
I think there could be some problem with who-comes-first and so it sees a nullable value and applies the document title.

[2021-04-11 12:52] MatteoGabriele commented on #279
the method is part of google API and opts you out from tracking: will still "fire" events, but they are aborted so it's probably not 100% GDPR compliant because you are still downloading the script. You are not storing any data though.

[2021-04-11 12:52] #279 closed

[2021-04-11 12:53] MatteoGabriele commented on #279
if you want a "bullet proof" GDPR solution, you should bootstrap the plugin only if the user accepts your conditions

[2021-04-11 13:09] #229 closed

[2021-04-11 13:11] MatteoGabriele commented on #229
@HairMachine sorry for the long-delayed response. I have added a new option that makes you use the `fullPath` instead of the `path` when you are dealing with automatic page tracking.

thanks for your feedback

[2021-04-11 13:12] MatteoGabriele commented on #229
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-11 13:55] daidais commented on #229
Thank you! :)

[2021-04-13 19:06] #248 closed

[2021-04-13 19:07] MatteoGabriele commented on #248
@soylomass thanks a lot for your feedback and sorry for the huge delay in responding and fixing this. 🙏

[2021-04-13 19:10] MatteoGabriele commented on #248
:tada: This issue has been resolved in version 1.12.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-13 19:31] #249 closed

[2021-04-13 19:36] MatteoGabriele commented on #273
vue-gtag is not available in the vuex context, you should import it like this

[code]

check all methods here https://matteo-gabriele.gitbook.io/vue-gtag/api

[2021-04-13 19:36] #273 closed

[2021-04-13 19:38] MatteoGabriele commented on #243
I know I'm very late on this one but the sentry link is expired, do you still have this issue?

thanks for your feedback and sorry for the huge delay 🙏

[2021-04-13 19:44] MatteoGabriele commented on #282
unfortunately, SSR always gives issues with vue-router, I can't do much more than waiting for VueRouter to be ready and triggering a nextTick on each route change.
This is more an issue with Nuxt or VueRouter or both combined.

[2021-04-13 19:44] #282 closed

[2021-04-13 20:03] #272 closed

[2021-04-13 20:04] MatteoGabriele commented on #210
fixed with #213

[2021-04-13 20:04] #210 closed

[2021-04-13 20:05] #280 closed

[2021-04-13 20:05] #263 closed

[2021-04-13 20:07] MatteoGabriele commented on #260
you need to pass `bootstrap: false` as well in your plugin options

[2021-04-13 20:07] #260 closed

[2021-04-13 20:11] MatteoGabriele commented on #259
could you create a reproduction of this issue in a very simple Vue app? thanks a lot and sorry for the huge delay in coming back to you 🙏

[2021-04-13 20:17] #197 closed

[2021-04-13 20:20] MatteoGabriele commented on #197
:tada: This issue has been resolved in version 1.13.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-13 20:20] MatteoGabriele commented on #272
:tada: This issue has been resolved in version 1.13.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.13.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-14 06:50] #246 closed

[2021-04-14 06:54] MatteoGabriele commented on #246
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-14 20:32] MatteoGabriele commented on #250
I'm sorry but "I'm not sure" is not enough for me.
I tried it and it works like any other argument.
if you have an issue, create a repository that proves it and I will take a look

[2021-04-14 20:32] #250 closed

[2021-04-14 20:36] MatteoGabriele commented on #193
fixed with #248

[2021-04-14 20:36] #193 closed

[2021-04-14 20:42] MatteoGabriele commented on #211
can u make a reproduction of this error?

[2021-04-14 20:43] MatteoGabriele commented on #217
on gtag.js it's called `purchase`

[2021-04-14 20:43] #217 closed

[2021-04-14 20:44] MatteoGabriele commented on #217
here the official documentation link https://developers.google.com/analytics/devguides/collection/gtagjs/ecommerce

[2021-04-14 20:47] MatteoGabriele commented on #232
can't reproduce this. I'm going to close the ticket, but if you can create a repo with the issue I will have a look immediately,
thanks for your feedback and sorry for the huge delay on texting you back

[2021-04-14 20:47] #232 closed

[2021-04-15 07:12] WolfgangDrescher commented on #250
Am I correct that the right way to use it is the following?

[code]

[2021-04-15 12:16] MatteoGabriele commented on #250
@WolfgangDrescher correct

[2021-04-20 18:40] akhilesh-k opened #287 "Is vue-gtag currently not supporting GA-4?"
Hi everyone, I tried integrating vue-gtag for the new GA-4 property on Google analytics. I tried GA-4 default property, GA-4 Property with GA Universal Analytics and Universal Analytics only.

It turned out that vue-gtag is sending data only for the last case which is, Universal Analytics only. Has anyone tried implementing the GA-4 property or it is not supported at all by vue-gtag? Please clarif

[2021-04-21 13:03] MatteoGabriele commented on #287
@akhilesh-k as far as I know, code-wise, there is no additional code that I need to add to make GA4 properties usable.
the plugin so far is exposing main API methods like pageviews, events, config, etc.. but for everything else that you don't find and you want to access, you can use the `query` method and write `query('add_shipping_info', ...)`, for example.
The `query` method simply uses the libr

[2021-04-21 16:36] mBbkr opened #288 "NuxtJs - Call Plugin in another plugin - vue-gtag"
I have integrated a vue-gtag component for NuxtJs in a plugin :

I'm looking for how to call the $gtag global var instantiate by the gtag component, in another component.

In the target plugin I've tried :

[code]

or :

[code]
or :

[code]
It's always undefined.

Somebody have an idea how to do that ?

gtag-plugin.client.js

[code]

[2021-04-21 20:19] MatteoGabriele commented on #288
you can find it in the component scope like most plugins:

[code]

[2021-04-21 20:19] #288 closed

[2021-04-21 21:28] mBbkr commented on #288
I already know that. This is not what I'm looking for.

I'm not in a .vue i'm in a dot js for a plugin.
this is where i need $gtag.

[2021-04-22 02:15] lautiamkok opened #289 "How to load script after disabling script loading?"
It seems that the [documentation](https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#disable-script-loading) is incomplete as it does not explain how to load the script after  disabling script loading:

[code]

So, how can we load the script on demand?

[2021-04-22 05:47] MatteoGabriele commented on #288
[code]

[2021-04-22 05:49] MatteoGabriele commented on #288
if you want to use all gtag feature, you can import the `query` method: it would be like calling `gtag` itself

[2021-04-22 05:54] MatteoGabriele commented on #289
it's probably because this feature is meant to be use only in situations where you already have a page that injects the analytics script for you and so you don't want to load it twice and create multiple trackers.
if you want to disable gtag and enable it after, you might want to use `enabled: false/true` or use the `bootstrap: false` and then bootstrap in another moment.

[2021-04-22 11:37] jepster-dk commented on #259
Just chiming in here to say that I'm experiencing the same issues as Erlend.
I'm using it in a Nuxt app, which is giving me some headaches.

The nuxt-google-analytics and nuxt-facebook-pixel-module libraries handle this quite gracefully, for comparison.

(And I agree with Erlend: `Anyway - the tools work as expected and are a huge pleasure to work with. Keep up the great work.`)

[2021-04-25 06:21] lohithn4 opened #290 "unable to associate and verify ownership of analytics property to the Google Search Console property"
### Description
I am able to add vue-gtag with nuxt and it is working, able to view real-time analytics.
Now I am trying to link Analytics property to the Search Console property. but it is failed with an error "Ownership verification"

### Expected behavior

Since vue-gtag has been added to my website and google-analytics is working, associating google search console property also must work.
###

[2021-04-25 06:38] MatteoGabriele commented on #290
Looks like something specific to your project. I'm not familiar with what u have to do, but I'm pretty sure is not due to the plugin but to some of your account configurations.
Maybe to get rid of the doubts, try to create a small app using a custom gtag implementation and try to achieve the same results. If it doesn't fail, I'll look into it

[2021-04-25 06:39] MatteoGabriele commented on #290
Could you post here your plugin installation snippet?

[2021-04-25 07:36] lohithn4 commented on #290
This is my vue-gtag.js plugin.
[code]
nuxt.config.js
[code]

Anyway there are many methods by which we can authorise our ownership, i tried including HTML Meta tag in head option it worked out very well for me.

[code]

But i could not figure out why google-analytics code option failed....
Since it is resolved for me, i am closing it off.
Thanks for the response.

[2021-04-25 07:36] #290 closed

[2021-04-25 10:11] danieltamas opened #291 "[BUG] send_page_view false but initial pageview still being sent"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

The config option **send_page_view** set to false is not working as expected

### Expected behavior

The initial pageview should be disabled

### Actual behavior

The **pageview** event is being triggered

### Environment
nuxt@2.15.4
vue-gtag@1.14.0

Then, specify:

1. MacOS
2.

[2021-05-02 11:54] #165 closed

[2021-05-02 12:00] MatteoGabriele commented on #165
:tada: This issue has been resolved in version 1.14.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.14.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-02 12:57] MatteoGabriele commented on #287
I will close this issue due to inactivities, but please feel free to re-open it once there is a reproduction of the issue available.

[2021-05-02 12:57] #287 closed

[2021-05-02 12:58] MatteoGabriele commented on #262
I will close this issue due to inactivities, but please feel free to re-open it once there is a reproduction of the issue available.

[2021-05-02 12:58] #262 closed

[2021-05-02 12:59] MatteoGabriele commented on #243
I will close this issue due to inactivities, but please feel free to re-open it once there is a reproduction of the issue available.

[2021-05-02 12:59] #243 closed

[2021-05-02 13:00] MatteoGabriele commented on #211
I will close this issue due to inactivities, but please feel free to re-open it once there is a reproduction of the issue available.

[2021-05-02 13:00] #211 closed

[2021-05-02 13:19] MatteoGabriele commented on #291
the send_page_view false it's only for the first config hit so that we skip double-tracking of the first page, but then you do need to track your first page: it's the landing hit.

[2021-05-03 06:28] #141 closed

[2021-05-03 06:34] MatteoGabriele commented on #141
:tada: This issue has been resolved in version 1.15.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-03 15:43] lohithn4 opened #307 "ERROR window is not defined"
### Description

I just upgraded the module the error has started appearing... unable to figure out what is happening.
### Expected behavior

It should work without any errors.
### Actual behavior

I upgraded my vue-gtag module in my nuxt project. the error started to appear, it appears while running the build and running the app.
 ERROR  window is not defined

  at pageview (node_modules/vue-gtag

[2021-05-03 16:09] MatteoGabriele commented on #307
I'll have a look at it

[2021-05-03 16:51] MatteoGabriele commented on #307
@lohithn4 bug fix on its way. sorry for the issue

[2021-05-03 17:10] #307 closed

[2021-05-03 17:15] MatteoGabriele commented on #307
:tada: This issue has been resolved in version 1.15.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.15.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-03 17:23] MatteoGabriele commented on #289
I will close this issue due to inactivities, but please feel free to re-open it if you need more info

[2021-05-03 17:23] #289 closed

[2021-05-03 19:18] #160 closed

[2021-05-03 19:23] MatteoGabriele commented on #160
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-03 19:28] MatteoGabriele commented on #160
@PureLines @DanFaudemer sorry for the enormous delay. has been a busy year :D
let me know if works as expected

[2021-05-04 06:53] #259 closed

[2021-05-04 06:58] MatteoGabriele commented on #259
:tada: This issue has been resolved in version 1.16.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v1.16.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-04 23:49] vesper8 opened #310 "how to use this if I want to send data to both UA3 and GA4?"
I've been using vue-gtag for a month on a new project where I selected to create a new GA4 property, but I am not happy with the interface and features of GA4 so I am now reverting to UA3

It's my understanding that vue-gtag supports both UA3 and GA4 properties.

When creating a UA3 property on Google (by clicking on 'advanced settings' while creating a new property) there is an option to create b

[2021-05-05 05:41] MatteoGabriele commented on #310
this is the part of the documentation that you talk about, I assume https://developers.google.com/analytics/devguides/collection/ga4/basic-tag?technology=gtagjs

to achieve what this page says, you just need to write this and everything should work

[code]

let me know if it works for you

[2021-05-05 05:43] #310 closed

[2021-05-05 07:40] vesper8 commented on #310
Thank you! It appears to work : )

[2021-05-07 06:54] MatteoGabriele commented on #168
After a pretty long refactoring of the current version 1 using TDD, I could more easily switch between vue 2 and vue 3 and so vue-gtag@2 will first be an easier migration with the same API and options as vue-gtag@1 but with vue 3 support.
what's currently vue-gtag-next, will soon become vue-gtag@3 with the improved API and more vue 3 approach.

[2021-05-08 18:02] #168 closed

[2021-05-08 18:09] MatteoGabriele commented on #168
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-08 18:22] MatteoGabriele commented on #291
I will close this issue due to inactivities

[2021-05-08 18:22] #291 closed

[2021-05-10 06:04] MatteoGabriele commented on #168
I wrote a tiny article about the release [here](https://matteo-gabriele.medium.com/migrate-vue-gtag-to-vue-3-3cdb44765edd)

[2021-05-11 15:40] robschaap242 opened #313 "^2.0.0 incompatible with Vue 2 / $gtag of undefined"
If you try to install version 1 from

https://github.com/MatteoGabriele/vue-gtag/tree/1.0

npm install vue-gtag

It'll install ^2.0.0 which isn't compatible with Vue 2.  Didn't realize it installed the new at first, got a lot of

Uncaught TypeError: Cannot set property '$gtag' of undefined

errors till I figured that out, and installed the 1.16.0 version that was the last before version 2.  Then i

[2021-05-11 16:01] MatteoGabriele commented on #313
I'm not sure I understood you correctly.

if I run `yarn add vue-gtag` it installs v1 correctly ( see picture )

<img width="280" alt="Screenshot 2021-05-11 at 18 00 19" src="https://user-images.githubusercontent.com/5337152/117847568-c117ff00-b282-11eb-9aab-908425dbd568.png">

[2021-05-18 22:50] davellanedam opened #314 "VueJS 3 + TypeScript compatibility"
### Description
Errors when trying to use vue-gtag with Vue 3 + TS

<img width="958" alt="image" src="https://user-images.githubusercontent.com/5108067/118732883-35b1e700-b809-11eb-992e-c0dcc901d337.png">

### Environment
vue-gtag@2.0.0

### Reproducible Demo
`main.ts`

[code]

`App.vue`
[code]

`googleTags.ts`
[code]

[2021-05-21 16:25] #314 closed

[2021-05-21 16:31] MatteoGabriele commented on #314
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/vue-gtag)
- [GitHub release](https://github.com/MatteoGabriele/vue-gtag/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-25 14:15] mikimoresi opened #316 "load tag id asyncronous"
Hello,
i need to get the googletag id with an ajax call and then load the plugin, is it possible?
Thank you

[2021-05-25 14:18] #316 closed

[2021-05-28 06:15] Kalindu123 opened #317 "Ecommerce API"
Hi
How can we make a request to Ecommerce API like in the earlier package ?
https://github.com/MatteoGabriele/vue-analytics/blob/HEAD/docs/ecommerce.md
Thank you

[2021-05-28 06:39] MatteoGabriele commented on #317
see #217

[2021-05-28 06:39] #317 closed

[2021-05-31 06:10] Kalindu123 opened #318 "Add Conversion tracking codes"
Hi
Can we add phone conversion tracking codes using this plugin ?
I have below code to add to my vue js app

<script> gtag('config', 'AW-1111111111/u3z7CM35hDswFcsqB-8sD', {​​​​​​​​ 'phone_conversion_number': '8765443212' }​​​​​​​​); </script>

Thanks

[2021-05-31 06:27] MatteoGabriele commented on #318
if that's your main configuration ID, you can simply add it statically to the plugins options
[code]

if you don't have it statically and you are in a component context, you can use it like this

[code]
or elsewhere, you can import it directly from the package itself

[code]

[2021-05-31 06:27] #318 closed

[2021-05-31 19:43] TitanFighter commented on #104
I had this issue when `foundItems` was undefined.

[code]

[2021-06-01 04:21] Kalindu123 opened #328 "Conversion tracking"
Hi

I have the following code to trigger in a button click

gtag('event', 'conversion', { 'send_to': 'AW-11111111/gt9BCMWEerfgvvLqB-8sD', 'value': 99.0, 'currency': 'AUD', 'event_callback': callback }); return false; }

How can we do this using this plugin? can we use this.$gtag.event?

Thanks

[2021-06-02 12:01] Cosbgn commented on #328
@Kalindu123 It would look something like this:

[code]

[2021-06-02 12:26] MatteoGabriele commented on #328
thanks @Cosbgn

[2021-06-02 12:26] #328 closed

[2021-06-04 09:38] marcbelletre opened #330 "Documentation error"
Hello there,

I would like to report a small mistake in the documentation here: https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#set-options

The second code block is wrong. The `gtag` variable should be a parameter of `then()` like this:
[code]

Thanks for this amazing plugin by the way :)

[2021-06-04 09:51] MatteoGabriele commented on #330
Oh! Good catch. I will update that, thanks a lot

[2021-06-07 16:14] luckylooke opened #331 "Accessing gtag instance out of component"
Hi, thanks for sharing :heart:

My question:
In an component controller, you can access lib instance by `this.$gtag` documented [here](https://matteo-gabriele.gitbook.io/vue-gtag/query), but what if I want to track outside component? Like in a service?

I need it to get clientId like documented [here](https://developers.google.com/gtagjs/reference/api#get_mp_example)
[code]

I was trying following

[2021-06-07 18:24] MatteoGabriele commented on #331
Hi @luckylooke all features available in your component scope are also directly available as separate exported methods.

[code]

Is this what you needed?

[2021-06-07 18:47] SumentsJavi opened #332 "export 'nextTick' was not found in 'vue'"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?
Running "npm run dev" after a clean installation, it shows:
in ./node_modules/vue-gtag/dist/vue-gtag.esm.js

"export 'nextTick' was not found in 'vue'

An the app does not compile
### Expected behavior

Happily compile

### Actual behavior

it shows
in .

[2021-06-07 19:41] luckylooke commented on #331
@MatteoGabriele I know that they are exported, but "get" is missing :man_shrugging:
[code]
neither `gtag` method
[code]

[2021-06-07 20:10] MatteoGabriele commented on #331
Could you share which version you are currently using?

`get` is not an API method I have included and also is not the default export, so you need to use the brackets.
In any case, you can use `query`.
To make an example, here, I have installed vue-gtag and immediately used `query` to get the `client_id`. You can use those methods everywhere. You don't need a Vue file. The only important part is f

[2021-06-07 21:01] luckylooke commented on #331
It seems I am using latest `vue-gtag@1.16.1` but typescript interface seems to be outdated then, or unfinished
[code]
 When I suppresed ts error by uding "any" I have got the result, thanks :pray:
[code]

[2021-06-07 21:01] #331 closed

[2021-06-08 06:18] #330 closed

[2021-06-08 06:19] MatteoGabriele commented on #332
Hello @SumentsJavi can I ask you what Vue version are you running it with?

[2021-06-08 08:03] SumentsJavi commented on #332
From "package.json", on the dependencies: "vue": "2.6.11",

[2021-06-08 09:03] MatteoGabriele commented on #332
I thought so. Version 2.x of vue-gtag is for vue 3 only, so you need to install 1.x or use Vue 3.
I see that vue-gtag is a dependency on another package for you, so you might want to redirect your issue to them.

[2021-06-08 09:03] #332 closed

[2021-06-09 12:19] joshjung commented on #316
The documentation is confusing. The documentation seems to imply that you *must* provide the google tag id even if bootstrap is false.

[2021-06-09 12:21] MatteoGabriele commented on #316
If you read the example after that, you will see that is possible to add it later https://matteo-gabriele.gitbook.io/vue-gtag/custom-installation#set-options

[2021-06-09 12:25] joshjung commented on #316
Okay that was rather confusing, it looks like the first section is implying that you must have it. So I just didn't bother reading further since it was clear it was required when bootstrap is false.

[2021-06-09 12:53] MatteoGabriele commented on #316
@joshjung Please, feel free to create an issue and suggest better documentation: this one is far from being perfect

[2021-06-10 04:58] akbarism commented on #332
I have the same issue, I'm using nuxt js, does this package not work in nuxt?

[2021-06-10 05:11] MatteoGabriele commented on #332
You have to give me a bit more insights on your setup. What Vue version and what 'vue-gtag' version

[2021-06-10 08:58] cosbgn opened #333 "Remove query parameters"
Most social networks and ad providers add query parameters to links, things like (`fclid, gclid, etc`).

On analytics.js there was a way to ignore query parameters, this has been removed on GA4 and now needs to be done on site level (Something like: `document.location.hostname + document.location.pathname`).

Is there a way to do this automatically when page tracking is on?

[2021-06-10 09:01] Cosbgn commented on #333
Closing because if I understood correctly from another issue I just need to add: `pageTrackerUseFullPath: true` to the options. If I'm wrong please let me know. Thanks a lot!

[2021-06-10 09:06] Cosbgn commented on #333
Reopening, this because the `pageTrackerUseFullPath` does the opposite, is shows query parameters. I want instead to hide them, which should be the default but it's not working for me. I'm using the plugin with nuxt like this:

[code]
I think the issue might be `app.router` ?

[2021-06-11 13:45] potpot59 opened #334 "How to set a dimension before the first router pageview?"
Hello,
First of all, a big thanks for this plugin which made it easier for us to set up Google Analytics in our Vue project.

I'm using `vue-gtag 1.16.1` with `vue 2.6.14`.

I'm trying to set a `dimension` (the value is retrieved from the backend) for all queries made to Google Analytics.
But I can't do:
`["set", {dimension1: "MY_VALUE"}]`
before the first:
`["event", "page_view", {page_title: "MY

[2021-06-22 17:34] MatteoGabriele commented on #334
Hi @potpot59, I might have to add a callback function before the first configuration hit. I think that would fix your issue and you wouldn't need all this

[2021-06-23 07:46] potpot59 commented on #334
That would be really great, would you offer this on version 1.x?
Thank you.

[2021-06-23 10:00] MatteoGabriele commented on #334
Yeah I'm currently supporting both at the moment. We'll see in the future

[2021-07-05 13:19] reisenmachtfreude opened #344 "Is there a way to track outbound links (to other URL)?"
I would like to track the usage of links to other pages.
My vue router config looks like:
[code]

I include vue-gtag like
[code]

### Description
It works that I can see active users google analytics (realtime report)

### Expected behavior

I expected that the clicks for path: '/link/something' also be tracked. However, I think this is not the case. At least I can't find it in any report on googl

[2021-07-05 15:19] dneeleman opened #345 "send_page_view configuration is not always honored."
### Description

We recently updated the library from version `1.6.2` to the most recent version. After a while our A/B environments reported a very uneven balance between original and variant. We determined this was cause by multiple `send_page_view` events that were fired incorrectly after the update. It was creating multiple sessions per user because of that.

While debugging we saw most of the

[2021-07-06 03:22] simondib opened #346 "Page titles not always showing in GA dashboard"
### Description

Page titles not always reporting correctly.

### Expected behavior

Page `<title>` tag should be reflected as the page name in the GA dashboard. E.g. `<title>My page title</title>` should show as "My page title".

### Actual behaviour

The page title isn't always logged and instead sometimes falls back to the page's path '/page-title'. This essentially displays the same page as tw

[2021-07-06 13:05] reisenmachtfreude commented on #344
The problem was that Brave browser shields were active on the target page.
Issue is solved.

[2021-07-06 13:05] #344 closed

[2021-07-09 01:38] workingxx92 opened #347 "Enhanced Ecommerce (Please support add_to_cart, view_item, begin_checkout...)"
Hi.
please support add_to_cart, view_item, begin_checkout... etc for Enhanced Ecommerce

Thank

[2021-07-09 01:59] workingxx92 opened #348 "TypeError: $gtag.event.purchase is not a function"
TypeError: $gtag.event.purchase is not a function
    at Object.onPurchase (TrackingServices.js?ef27:70)
    at VueComponent.onSuccess (checkout.vue?4dd3:640)
    at eval (checkout.vue?4dd3:598)

[2021-07-09 14:47] TitanFighter commented on #347
Everything already works

this.$gtag.event('add_to_cart', {
  currency: 'USD',
  value: 99.95,
  items: [item1, item2, etc]
})

[2021-07-11 05:58] kay1212 opened #349 "Enable Demographics and Interests reports"
How can I Enable Demographics and Interests reports ?

I had turn on the switch  in setting "Advertising Features", and the gander or age reports in my ga are still zero.

Pageveiw or events reports normally work well.

Should I add other codes?

Please help me, thank you very much.

[2021-07-14 10:46] Cosbgn commented on #348
@workingxx92 should be `this.$gtag.event('purchase')`

[2021-07-14 20:33] owalid opened #350 "How to measuring the checkout process, with ecommerce plugin ?"
Hello !
How to load the Ecommerce Plugin ?

To use like this:

[code]

In the issue: https://github.com/MatteoGabriele/vue-gtag/issues/217 you talk about `purchase` function but purchase does not replace `ec:addProduct` or `ec:addImpression` or `ec:setAction`

thanks you 😄

[2021-07-20 03:25] kareiki commented on #346
Yes I had the same problem, to workaround I am manually sending pageview and that doesn't solve the problem either.

So I added a timeout 1000ms, not perfect but working

`setTimeout(() => {
      const info = { page_path: location.pathname, page_title: document.title, page_location: location.href }
      console.log(info)
      t.$gtag.pageview(info)
    }, 1000)`

[2021-07-21 17:29] adamiss5138 opened #351 "UTM Campaign Tracking"
How to use this plugin to track UTM campaign? As far as I know, this does not work with Vue Router. Is there any option to make it work with this plugin?

[2021-07-21 23:38] martinthenth opened #352 "Error on navigating to "/" homepage route"
Thank you for making this library. It's easy to set up and works great. I found one bug when navigating to the homepage shows errors in the console.

### Description

In production environment, when navigating from a non-home page route to the home page route `"/"`, the console displays:

`Uncaught (in promise) RangeError: Maximum call stack size exceeded`

In development environment, when navigat

[2021-07-22 04:48] #351 closed

[2021-07-28 07:33] picks44 opened #353 "Double GA payload"
### Description

I get a double GA Request payload when a page is viewed, one with the actual router page name, one with the app name...

### Expected behavior

I should only get one payload with the router page name

### Actual behavior

[code]

First payload is OK, second one is not.
`en=page_view&_et=994&_eu=I&dr=https%3A%2F%2Fassistant.cp.com%2Fstock-lead-time-irp&dt=**CP%20Assistant**`
this i

[2021-07-28 09:24] xuyanmei opened #354 "page_title why not is document.title?"
I use Nuxt，vue-i18n，Because page will be used by multiple countries，web page titles are dynamic and multilingual，but it is difficult, this plugin 's page_title  use  route name，But gtag.js use the document.title,so I don't undestand the reason。route name is meaningless,I think. thank you and hope you can apply!

[2021-07-29 16:33] h8ngtat commented on #354
vue-gtag will set the rendered page's title tag value to "page_title" if you remove app.router during plugin initialization.

[2021-07-30 15:10] lumenier1 opened #355 "vue-gtag-next: Build issue"
Unexpected behavior (bug) on `'npm run build'`.

### Expected behavior

This lib should add Google Analytics when I build my project.

### Actual behavior

There is no google tag in the html after `'npm run build'` command.
So, when I just serve my project locally, it works.
When I build project, nothing happens, no google tag is applied.

### Environment

1. Operating system: MacOS
2. Browser and

[2021-08-04 09:52] potpot59 commented on #334
Any news?

[2021-08-05 14:17] eforgacs opened #361 "Typo in documentation: fist -> first"
Under "Get started":

"Here is the perfect moment to add the send_page_view property to false if you don't want to send the fist page hit on load of your application"

should be:

"first page hit"

[2021-08-12 08:28] sarik-k opened #362 "How can I exclude all children of a route? Also there seems to be a typo in this process in the documentation."
https://matteo-gabriele.gitbook.io/vue-gtag/auto-tracking#exclude-routes

According to this, I need to pass an array of routes names or paths to the pageTrackerExcludedRotues key (Not sure if its a typo in documentation or coded like that in the package itself). I want to exclude all admin routes i.e. all routes that are the children of "admin" route.

I'm also not sure what to put if my route nam

[2021-08-22 14:36] MatteoGabriele commented on #355
The plugin doesn't add any tags on build time, only on runtime. You can check this by firing your app and look the HTML structure in the devtool

[2021-08-22 14:36] #355 closed

[2021-08-22 14:37] MatteoGabriele commented on #354
thanks @h8ngtat
I assume this fixed

[2021-08-22 14:37] #354 closed

[2021-08-22 14:42] MatteoGabriele commented on #353
I'm sorry but I need a reproduction on code sandbox or codepen, not a link to a website.
I really can't help like this. thank you.

[2021-08-22 14:47] MatteoGabriele commented on #350
I'm sorry, I don't really write the API: it's just like this.
analytics and gtag are not the same things. I suggest you check the differences between these 2 libraries. The plugin basically exposes the most common gtag API methods and, if not, you can always use the `query` method to access directly gtag API

[2021-08-22 14:47] #350 closed

[2021-08-22 14:49] MatteoGabriele commented on #348
the shorthand is `this.$gtag.purchase` or you can type `this.$gtag.event('purchase')` as @Cosbgn suggested

[2021-08-22 14:49] #348 closed

[2021-08-22 14:54] MatteoGabriele commented on #362
Yeah, it's a typo.
You can check the actual names here https://matteo-gabriele.gitbook.io/vue-gtag/plugin-options
I will correct the docs.

it won't check children, but literally a route name. All children have different route names, so if you need to pass Parent and Children, you have to loop them all.  You could use something like `$route.matched`

[2021-08-22 14:54] #362 closed

[2021-08-22 15:01] MatteoGabriele commented on #361
thanks a lot :)

[2021-08-22 15:01] #361 closed

[2021-08-22 15:04] MatteoGabriele commented on #349
I'm very sorry, but I don't know how to do that. It would be best if you consider checking the official API documentation. The plugin is a wrapper that simplifies your life with Google Analytics or Gtag, but I don't know all the tips and tricks :)

[2021-08-22 15:04] #349 closed

[2021-08-24 18:39] markabruce opened #369 "Page refresh required after optIn is executed to get cookies"
### Description

I am wanting to use my own cookie consent banner in conjunction with this library.

- `this.$gtag.optIn()` calling works correctly, however, a full page reload or a route change is required before the events are pushed from the dataLayer and cookies are added to the cookie store.

### Expected behavior

- I'm not sure what I expect, I am not sure if this behaviour is correct

###

[2021-09-04 13:18] doge-dev opened #372 "Page View auto-tracking with pageTrackerTemplate send double views"
### Description

When configuring the lib to auto-track page views and use a custom template, the library sends the new page_title with query parameters but original page_title is sent through request payload.

<img width="756" alt="Screenshot 2021-09-04 at 15 13 22" src="https://user-images.githubusercontent.com/2998613/132095630-b926d52d-44e6-4080-b071-490e12bf3813.png">

### Expected behavior

[2021-09-08 10:51] Tobeyforce commented on #87
Using @cesasol  solution, it starts tracking even though I don't run opt in (sets the ga-cookies right away) on the first load before opt out has explicitly been set.. Any ideas? I thought using enabled: false would prevent that?
Perhaps because it's loading the SSR plugin?

[2021-09-09 15:01] Matheus-de-Souza opened #373 "How do I use this plugin outside from components?"
### Description

I didn't find in the documentation how to do it.. Just using inside vue components

[2021-09-15 13:38] gnicolas31 opened #375 "Not tracked on dynamic content"
Hi,

I'm reporting an issue with this, or maybe I'm doing something wrong.

Everything work fine for nearly all of my website.

The problem come in my blog on the single post pages, where user is not detected.

However, the googletagmanager is loaded normally in thoses page, as the others pages.

My single post pages load content from external wordpress endpoint and inject them in my page with thi

[2021-09-16 03:06] Virushi commented on #373
Just like this:
import { config, set, event } from 'vue-gtag'

[2021-09-16 17:30] MatteoGabriele commented on #373
Thanks @Virushi

[2021-09-16 17:53] Matheus-de-Souza commented on #373
Thank you @Virushi!

It would be nice if this information was in the documentation also.

[2021-09-16 21:40] officiallymarky opened #376 "Not seeing data in Google Analytics after install"
### Description

Installed and configured VueGtag, but no events show up in Google Analytics

### Expected behavior

Analytics show up

### Actual behavior

Nothing reported to Google Analytics

### Environment

vue-gtag@2.0.1

Vue 3
Vite

Windows 10 (Testing)
Ubuntu 20.4 (Deploy)

Brave and others

### Reproducible Demo

[code]

[2021-09-17 07:58] #376 closed

[2021-09-20 20:23] phlegx opened #377 "Proposal for some useful functionalities."
Hi @MatteoGabriele! Congratulation for this nice Vue package. Here some useful functionalities that can be added to vue-gtag to get better control over the plugin.

1. Add method to check if gtag DOM elements (script and link) are already included (with or without `bootstrap()` method).
2. Alternative: with method `bootstrap()` check before if gtag DOM elements (script and link) are already includ

[2021-09-23 19:43] tv-munchkinlabs commented on #54
@MatteoGabriele Hello, my Google Optimize and GTag are both blocked by ad blocker. I do see you mentioned ad blocker, is there anyway to work around ad blockers?

[2021-09-24 07:47] MatteoGabriele commented on #54
I hope not 🤣

[2021-09-27 12:23] kristofferdamborg commented on #372
I had the same problem, I fixed it by unchecking "Page changes based on browser history events" in the advanced settings of "Enhanced measurement" in your data stream.

![image](https://user-images.githubusercontent.com/25890205/134906975-d739f09c-855c-42b0-9ac3-857bd10dfa78.png)

[2021-09-28 16:45] doge-dev commented on #372
Yup that solves it, thanks @kristofferdamborg  👍

[2021-09-28 16:45] #372 closed

[2021-10-08 15:10] thopit opened #382 "Two tracking ids added (including one unknown)"
I am using vue-gtag version 2.0.1 and added the following configuration
[code]
After deploying the following two scripts are included in the page:
[code]
I never specified the tag G-XXXXXXXXXX in any way in the configuration. Does vue-gtag add it's own tracking id?

[2021-10-25 18:16] eeerrrttty opened #383 "how use it with quasar framework ?"
I would like more docs to.

Other thing, can i use one google tag for each route i'm using?

example:

userA/productA (this will have 1 google tag)
userA/productB (this will have another google tag)
userB/productC (this will have another google tag)

I wanna one google tag for each product, dynamicaly

[2021-11-04 08:40] pedro-olivenca opened #388 "how to use the $gtag method"
Hi there Matteo,

Thank you so much for this module.
I've manage to make it work with vue3 cli, but when trying to use the $gtag method, to register an event, I get an error

----
Property '$gtag' does not exist on type 'CreateComponentPublicInstance...
---

How can I make $gtag available on the components?

Thank you

[2021-11-08 09:19] Muitoom opened #389 "How to get the default behavior of the gtag.js snippet?"
Hi all,

What is the correct way to get the default behavior of the gtag.js snippet (for payeviews) and only add the events myself.

Can I just add gtag.js in the html? Will it create conflicts with vue-gtag?

Thanks

[2021-11-10 07:41] rasmus0201 commented on #334
Hello. I'm also interested in this issue being fixed.

Maybe we can help you somehow @MatteoGabriele? :)

[2021-11-10 13:18] dcrabbeYapily opened #390 "Using as plugin with Nuxt and record each page view"
### Description

Trying to setup page tracking and eventually event tracking for a Nuxt project.

I can see a user in Google analytics but can't setup any code (or find documentation) that will track pages/routes etc.

When

### Environment

vue-gtag@1.16.1
macOS, Chrom

Its a private Nuxt application

[code]

How can I setup page/rout tracking and events?

thanks.

[2021-11-10 15:30] bsiegrist commented on #369
is there already a solution for this? would be nice if the cookies are set as soon as the optIn() is called...

[2021-11-10 17:31] TitanFighter commented on #390
https://matteo-gabriele.gitbook.io/vue-gtag/#initial-config-parameters

You need
[code]

[2021-11-12 14:51] colinxr commented on #349
Ran into this same issue today. I believe you can enable this by using the vue-gtag query method.

[code]

The query method is like using the ga object directly, as described in the docs [here](https://matteo-gabriele.gitbook.io/vue-gtag/query):

[2021-11-15 13:57] ThaDaVos opened #391 "Why are you copying types from others packages and not importing them?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

What are you reporting?

Sorry for my passive-aggressive title, but really... why are you copying types from other packages? It makes it impossible, as far as I know, to type my own function correctly as the types do not match as you're not exporting your own one...

![image](h

[2021-11-18 02:57] milez770 opened #392 "Proper way to use multiple tracker id in single site."
### Description

There aren't any documentation of using multiple tracker in one single site.

### Expected behavior

[code]

connects to multiple ids

### Actual behavior

It seems like it actually works, and that is great for me.
But nothing was specifically written on the document and wanted to check if this is the right way.

### Environment

implemented on Nuxt 2.15.8

[2021-11-23 12:28] devloe opened #393 "Consent mode (beta)"
Is there a way to send the new consent (beta)?

https://developers.google.com/tag-platform/gtagjs/reference#consent

Using the official library, you can do so with the following code:

gtag('consent', 'default', {
  'ad_storage': 'denied',
  'analytics_storage': 'denied'
});

dataLayer.push({
  'event': 'default_consent'
});

I understand that in vue-gtag there has to be a method called "consent"

[2021-11-24 09:11] MatteoGabriele commented on #391
First of all, take a deep breath.
I have no experience with typescript, and contributors have helped me with this.
I actually would love types definition to go outside the repository because I have no intention to maintain them. If you want to help me with this task, please go ahead.

[2021-11-24 09:14] MatteoGabriele commented on #392
you can find it in the documentation https://matteo-gabriele.gitbook.io/vue-gtag/multiple-domain-tracking
[code]

[2021-11-24 09:14] #392 closed

[2021-11-24 09:56] MatteoGabriele commented on #388
Could you show me what you have written? You are giving a lot to the imagination.
Paste your installation and how you are using the code that creates this error.
Thanks

[2021-11-24 09:58] MatteoGabriele commented on #382
No, your application has probably already a tracker added.

[2021-11-24 09:58] #382 closed

[2021-11-29 17:26] CynthiaBlue commented on #383
I'd also like to have more information about using this with Quasar Framework.

[2021-11-30 08:30] petegriffith opened #394 "Can I use without vue-router?"
I'm using gtag for a small SPA without Vue Router, but when I `NPM run build` I get this error:

[code]

Seems like this is just a types issue, but it's an annoying one. Do I have to have vue-router types to use this package?

[2021-12-01 00:49] petegriffith commented on #394
After digging around a bit, I'm not sure if this package is usable without vue-router (assuming typescript). Happy to be told otherwise, I don't want to bloat my project without need!

[2021-12-20 15:26] guyzyl commented on #394
@petegriffith I'm using it without `vue-router` and it's working as expected.

[2021-12-21 01:00] petegriffith commented on #394
Are you using typescript? The inbuilt types import types from vue-router...

[2021-12-21 08:34] guyzyl commented on #394
Yes, using typescript.
I now checked, I have `vue-router` installed to the project but I'm not using it, I guess that's the reason for it working.

[2022-01-03 20:23] Beatbug commented on #334
A fix for this would be most helpful for a project I'm currently working on.

[2022-01-05 01:15] kakauandme commented on #393
@devloe you can use https://matteo-gabriele.gitbook.io/vue-gtag/query for now.

[2022-01-07 00:15] then3rdman commented on #89
Sorry to post in a closed thread but it seemed most relevant here.

The TS definitions of the set function don't actually allow the function to be used in this manor. There is only 1 expected argument and that is the config object, as is demonstrated in the docs. However you can not add the `'user_properties` argument before it

[2022-01-12 11:22] spiralis06 commented on #89
The following code :

this.$gtag.set("user_properties", {
  favorite_composer: "Mahler",
  favorite_instrument: "double bass",
  season_ticketholder: "true"
});

does not work when using Typescript for the reasons provided by then3rdman.

Can you provide a solution/workaround ?

We really need a way to send GA user properties and not event properties.

Thanks.

[2022-01-14 11:21] dn-achim opened #402 "optOut() is not working"
### Description

Calling this.$gtag.optOut() has no effect.

### Expected behavior

After this.$gtag.optOut() tracking should be inactive.

### Actual behavior

Tracking continues.

When using `optOut()`, which is a wrapper of `disable(false)`, the value of `config.id` is null.
So the window property is not set correctly:

`window[ga-disable-null]: true`

### Environment

`npm ls vue-gtag`: vue-gt

[2022-01-17 09:43] spiralis06 opened #403 "Send user properties with Typescript"
### Description

I need to send user properties so that i can create separate audiences on Google Analytics Dashboard.

### Expected behavior

Trying to send user_properties, using Typescript :

this.$gtag.set("user_properties": {"foo":"bar"}})

### Actual behavior

Typescript function definitions does not allow to use "user_properties" : {"foo":"bar"} as argument

### Environment

Run this comman

[2022-01-25 20:22] dasheck0 commented on #402
Can confirm. Also not working for me

[2022-01-30 19:52] ipa1981 opened #405 "Track landing page view before router redirect"
In our app we have router redirect to sign in page if user's auth token has expired. If we want additionally track UTM parameters (utm_source, utm_medium, etc), we pass it in the URL. For example:

[code]

If a user is signed in, the VueGtag takes this URL with utm_* params and tracks them correctly.
If a user is not signed in and we redirect it immediately to /sign-up, and it tracks the latter UR

[2022-01-31 18:16] miketromba opened #406 "Warning: New Google Analytics 4 properties break the expected behavior of this plugin and cause double page views."
### Description

First of all, thank you for all your hard work on this plugin Matteo! I really appreciate it.

When creating new Google Analytics properties, they now default to Google Analytics version 4 (GA4). The problem is: the default behavior of GA4 properties is incompatible with this plugin right now, and causes unwanted and unexpected behavior.

I spent a lot of time this morning pulling

[2022-01-31 18:17] miketromba commented on #353
If you are using a GA4 property, this may be caused by: https://github.com/MatteoGabriele/vue-gtag/issues/406

[2022-02-02 12:44] robertoshimizu commented on #287
Matteo, in order ro use vue-gtag with GA-4, could you please confirm the new syntax of the id, supposedly former UA-XXXXXXXX-X. The thing is that GA-4 does not supply a tracking ID anymore, but rather a property id, which I have tried to intuitively add to the config, but it did not work out.

[2022-02-02 19:20] MatteoGabriele commented on #287
I should probably change all the UA-123456789 IDs in the doc with GA_MEASUREMENT_ID just like gtag doc writes. This is the same API of gtag.js, whatever ID google wants, that's what you need to put

[2022-02-03 12:15] robertoshimizu commented on #287
You are quite right Matteo, in fact I used the new form G-XXXXXXXXXX in the same field and it worked just fine. Thank you for your prompt response.

[2022-02-05 19:25] emretepedev opened #410 "Ownership Verification on Google Search Console"
### Description

I am able to add vue-gtag with nuxt and work like a charm.
![issue2](https://user-images.githubusercontent.com/70508617/152655953-7f6690f4-9c66-4c98-9fff-05336fc2d3fd.png)

Now I am trying to link Google Analytics property to the Google Search Console property. But it is failed with an error "Verification unsuccessful".
And Google says that:
![issue1](https://user-images.githubuse

[2022-02-08 04:34] KevinYobeth commented on #351
I encountered the same issue, how do you get around it?

[2022-02-09 09:46] antonreshetov commented on #406
Any news?

[2022-02-17 14:15] TheDutchCoder opened #411 "npm install vue-gtag@next fails"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description
`npm install vue-gtag@next` does not install:
[code]

### Expected behavior

The package to install.

### Actual behavior

The package does not install.

### Environment

Run this command in the project folder and fill in their results:

`npm ls vue-gtag`: empty

Then, specify:

[2022-03-01 02:44] Heromyth commented on #411
`npm install vue-gtag` works.

[2022-03-01 09:30] SaadUzu opened #421 "Send user properties as an object inside config"
Hi Matteo,

First of all, thank you so much for your package "vue-gtag". it helped a lot.

I have an issue when i try to put some extra informations in the dataLayer in order to collect them on GTM.
These informations are actually visible in the dataLayer, but, inside an array and not inside an object (normal because i'm passing them inside the config option).

![image](https://user-images.githubu

[2022-03-05 23:21] UnKnoWn-Consortium commented on #411
It seems the author updated the tags at npm without updating the doc.
Version 1.16.1 is now the ```legacy``` while version 2.0.1 is now the ```latest```.

https://www.npmjs.com/package/vue-gtag

[2022-03-08 09:21] c-peiron opened #422 "Analytics does not recognize the change of view."
I have installed everything correctly. I pass the vue-router instance to the .use but I only get in Analytics the first page loaded.
Once I start browsing nothing more is sent.

[2022-03-08 15:33] zsiguli commented on #89
This worked for me with vue3 and vue-gtag

[code]

[2022-03-09 11:09] tungdmctv commented on #313
Thank you , I got the same issue with vue2
just change vue-gtag to ^1.16.0
and everything works fine.

[2022-03-27 11:49] itsmnthn opened #423 "How to use in Vue2/Vue3/Nuxt2/Nuxt3 with Partytown?"
Using [partytown](https://github.com/BuilderIO/partytown) is a great way to load analytics script using Web Worker to improve the initial app load.

I have been using the `vue-gtag` in my projects it is a great lib and I think having partytown support/integration will be cherry on top.

[2022-03-27 12:09] itsmnthn commented on #423
I have working demo with `Nuxt2` but it doesn't support router and custom events.

[nuxt2-partytown](https://github.com/itsmnthn/nuxt2-partytown)

there is also plugin for `Nuxt3` and `Nuxt2 with Nuxt-Bridge` : `@nuxtjs/partytown` [doc](https://partytown.builder.io/nuxt)

[2022-03-28 13:58] filippodicostanzo opened #424 "Cannot set properties of undefined (setting '$gtag') in Nuxt"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

In Nuxt when i call the plugin vue-gtag there is an error:
Cannot set properties of undefined (setting '$gtag')

### Environment

Run this command in the project folder and fill in their results:

1. Operating system: Windows
2. Browser and version: vue-gtag@2.0.1

### Reproduc

[2022-03-29 05:10] rayhk6 commented on #424
@filippodicostanzo  have you found the solution?

[2022-03-29 08:25] filippodicostanzo commented on #424
No I haven't find any solution for this issue. 😔

[2022-03-29 08:27] rayhk6 commented on #424
Try to install a lower version 1.x.x
It works now.

Filippo Di Costanzo ***@***.***> 於 2022年3月29日 週二 下午4:25寫道：

[2022-03-30 20:40] filippodicostanzo commented on #424
Thanks it works with ^1.0.0 version

[2022-03-30 20:40] #424 closed

[2022-04-08 08:13] MatteoGabriele commented on #423
Hi @itsmnthn
Thanks for the suggestion; I don't think I've heard of partytown before. I will give you a look around and let you know. Do you know what support is needed to make the package work?
I currently get a "github.com is currently unable to handle this request." when I try to go and read the js/gtag.js file. Not sure what's the issue. I might try later on

[2022-04-21 11:11] TravisRick commented on #406
Bump.. Any update on this bug?

[2022-04-22 04:26] tsposato opened #429 "Implementing vue-gtag in Vue2 stops blob downloads?"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

When we implement vue-gtag, it breaks out existing file download functionality and I have no idea why.
Implementation is done via the standard way:
[code]

### Expected behavior

Files should download normally and analytics data being sent to Google.

### Actual behavior

Analy

[2022-04-22 17:46] njsa04 opened #430 "How do I upgrade to include the latest 1.0 fix?"
how do I upgrade to include this fix?  if i update I get 1.16.1 which doesn't include this fix.
i tried hardcoding the branch but seems to break some other dependencies due to

[code]

compiling gives this i think bc it's not tagged as a version.
[code]

[2022-04-22 18:57] njsa04 commented on #430
nm I just hardcoded the linker info in the config.

[2022-04-22 18:57] #430 closed

[2022-04-25 20:27] broox commented on #346
i just started manually tracking the `fullPath` in a plugin and analytics seems to pick everything up properly...

`/plugins/analytics.js`
[code]

`nuxt.config.js`
[code]

[2022-04-26 04:27] MOAB7698 opened #431 "Uncaught TypeError: Cannot set properties of undefined (setting '$gtag')"
hi
i want use this to nuxt
i created gtag.js
[code]
and in nuxt.config i use
[code]
but i get  this error
**Uncaught TypeError: Cannot set properties of undefined (setting '$gtag')**

I use vue 2

[2022-04-26 21:02] christoph-werker opened #432 "Exposing AdWords AccountId in the .JS file?"
Hello Together,

I just noticed that the plugin exposes the Ad-Words account in the source code. Is it possible to prevent this somehow? I use Webpack and include VueGtag as follows.

[code]

See:
![image](https://user-images.githubusercontent.com/9929788/165391456-d536452e-b87e-4b78-92e4-c696364047ce.png)

I'm using the following Settings in Webpack:
[code]

Thanks for your help.

[2022-04-29 08:46] Stijn98s commented on #429
I also had the same problem with version 2.0.1. I fixed it by adding target _blank to the download element.

[2022-05-03 20:34] james-robson commented on #431
Hi @MOAB7698, I had the same issue. It looks like if you are using Vue 2 you need to install one of the previous versions of vue-gtag. There is actually an open PR to make this clearer in the V2 docs which can be found here:

https://github.com/MatteoGabriele/vue-gtag/pull/442/files

The relevant part being this line which shows which version is compatible with Vue 2:

[code]

[2022-05-09 11:50] the94air commented on #310
It would be great if the `includes` option was documented on the docs. As the currently we can't use the GA4 using the `config.id` option and it's required to use the `includes` option instead.

[2022-05-10 11:23] v3nt opened #443 "Users number is wrong in GA"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Ony page views being recorded but Google Analytics is only ever seeing 1 users when there are hundreds

### Expected behavior

There should be more than 1 user  'in last 30 minutes'

### Actual behavior

Only 1 users is ever recorded

<img width="529" alt="Screenshot 2022-05-10

[2022-05-10 14:55] sneko commented on #405
Hi @ipa1981 ,

Did you find a solution? I'm in almost the same case:
* If a redirect happens I still want gtag.js to track the UTM parameters
* I don't want to keep UTM parameters a few milliseconds after the page is loaded, because there is a risk the user would copy/paste this link on another media (breaking the whole thing of UTM parameters)

I think that's possible by catching the original URL

[2022-05-10 15:33] sneko commented on #351
@adamiss5138 why did you close the issue? Did you solve it?

This issue is still on going https://github.com/MatteoGabriele/vue-gtag/issues/405 so if you have any implementation to make things working properly, it would be great!

cc @KevinYobeth

[2022-05-10 15:50] adamiss5138 commented on #351
I don't have the energy to even bother with this plugin anymore. Nothing worked for me as I expected. Page view tracking does not work, even if I passed the router instance to the plugin, UTM tracking does not work, and support is non-existent.

[2022-05-10 16:50] sneko commented on #351
@adamiss5138 so at the end, did you switch to another library (if so, which one)? Or did you use the raw Google HTML/script?

[2022-05-12 10:57] Welyelf opened #444 "nextTick not found"
import { nextTick } from 'vue';

No longer working ?

[2022-05-16 07:47] sneko commented on #351
@KevinYobeth @adamiss5138 in case you still want to solve this issue I worked on a third-party library (https://github.com/sneko/utm-synapse) that I integrated into `vue-gtag`. Please see https://github.com/MatteoGabriele/vue-gtag/pull/445 for details 👍

[2022-05-16 07:55] sneko commented on #405
@ipa1981 in case you still want to solve this issue I worked on a third-party library (https://github.com/sneko/utm-synapse) that I integrated into `vue-gtag`. Please see https://github.com/MatteoGabriele/vue-gtag/pull/445 for details 👍

PS: about your wondering on `onAfterTrack()`, this one is not called for the first track, just for subsequent ones (see https://github.com/MatteoGabriele/vue-gtag

[2022-05-16 11:16] ipa1981 commented on #405
@sneko sounds as a possible solution. Let's then see if @MatteoGabriele could accept this PR.

[2022-05-16 17:05] bruno-71 commented on #406
Is v1 of vue-gtag compatible with GA4?  I'm still using Vue2 and would like to use this with the new Google Analytics 4.

[2022-05-16 18:19] MatteoGabriele commented on #405
I'm sorry for texting you back so late. I checked the PR that @sneko opened but adding multiple dependencies to handle the UTM tag only seems too much for me. I will try to learn more about it and check how to proceed.

[2022-05-16 18:21] MatteoGabriele commented on #444
There's a template to feel in when opening an issue, and there's a reason for that. Your question is too vague. Please re-open this PR once you can feel in the template

[2022-05-16 18:25] MatteoGabriele commented on #443
Which version of vue are you using? The example you gave me seems made with vue 3, but you are using vue-gtag legacy for vue 2. I'm a bit confused

[2022-05-16 18:28] MatteoGabriele commented on #431
That's correct. Default version is now for vue 3. you should install vue-gtag@legacy for vue 2

[2022-05-16 18:28] #431 closed

[2022-05-16 18:31] MatteoGabriele commented on #429
I'm not sure how this package can compromise file downloading, but please create a reproducible demo outside your application.

[2022-05-16 18:35] MatteoGabriele commented on #432
The plugin doesn't expose anything: that's your bundle. In javascript, everything is exposed.

[2022-05-16 18:35] #432 closed

[2022-05-16 18:40] MatteoGabriele commented on #422
Please feel in the template if you think you have a bug, so I have more idea of your situation. This is too generic: I don't know which version of vue or vue-gtag, and I don't know your installation code.

[2022-05-16 19:08] MatteoGabriele commented on #353
The weird part is the initiator: analytics.js?

[2022-05-16 21:31] sneko commented on #405
There are 2 dependencies added, they are really lightweight:
1. mine that have a few methods to manage UTM params
2. one to fallback if `sessionStorage` does not exist

I could have for sure implemented methods directly in your library for (1), but it's not scoped to Vue, nor gtag. And for the (2), I could have tried to reinvent the wheel to fallback this, but using good librairies are fine too. B